﻿@*@model HUDHealthcarePortal.Model.Prod_FormAmendmentTaskModel*@
@model HUDHealthcarePortal.Model.SignatureModel

@section Scripts {
	<script src="~/Scripts/signature_pad.min.js"></script>
	<script src="~/Scripts/SignaturePadInit.js"></script>
}


<script>
		$(document).ready(function () {
			$('#demoSig').val('0');
			$('#cbIsNewSignatureRequired').attr("checked", false);
			document.getElementById('divAgentNewSign').style.display = 'none';

			$('#cbIsNewSignatureRequired').change(function () {
				if (this.checked) {
					document.getElementById('divAgentNewSign').style.display = 'block';
					$('#demoSig').val('1');
				}
				else {
					document.getElementById('divAgentNewSign').style.display = 'none';
					$('#demoSig').val('0');
					return false;
				}
			});

			$("#ApplySignature").click(function (e) {
				var image = document.getElementById("convas1").toDataURL("image/png");
				var image2 = document.getElementById("convas2").toDataURL("image/png");
				var newimage = image.replace('data:image/png;base64,', '')
				var newimage2 = image2.replace('data:image/png;base64,', '')
				var hidUserId = $('#hidUserId').val();
				var hidUserSigFile=$('#agentSignatureFileName').val();

				if ($('#demoSig').val() == '0') {
					newimage = null;
				}

				$.ajax({
					type: 'POST',
					//url: '@Url.Action("UploadSignatureImage", "Amendments")',
					url: '@Url.Action("SaveSignature", "Account")',
					data: {
						imageData: newimage, userId: hidUserId, userSigFile: hidUserSigFile
					},
					success: function (data) {
						alert("Signature has been Accepted");
						window.location.reload();
					}
				});


			});
		});



</script>

@*@Html.HiddenFor(m => m.TaskId, new { id = "TaskId" })*@
@Html.HiddenFor(m => m.CreatedBy, new { id = "hidUserId" })
@*@Html.HiddenFor(m => m.TaskxrefIdUI, new { id = "TaskxrefId" })
	@Html.HiddenFor(m => m.TaskInstanceIdUI, new { id = "TaskInstanceId" })
	@Html.HiddenFor(m => m.AmendmentTemplateID, new { id = "AmendmentTemplateID" })*@
@Html.HiddenFor(m => m.IsNewSignatureRequired, new { id = "demoSig" })
@Html.HiddenFor(m => m.AgentSignatureFileName, new { id = "agentSignatureFileName" })
@*@Html.HiddenFor(m => m.WLMSignatureFileName, new { id = "wlmSignatureFileName" })*@
@*@using (Html.BeginForm("AttachDocSignature", "Amendments", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "amendmentsFrm" }))
	{*@
<div>
	<table class="trThickBorder">
		<tr style="width:600px">
			<td style="width:200px">

				<div id="divAgentSigLabel">
					@Html.Label("HUD Signature: ", new { @class = "required" })
					@Html.DisplayFor(model => model.CurrentSignature)
				</div>
				<div id="divAgentSigChange">
					<label>
						@Html.CheckBoxFor(m => m.IsNewSignatureRequired, new
						{
							id = "cbIsNewSignatureRequired",
							@style = "width:80px;margin-left:7px;"
						}) <i>Check this box ONLY if you want to change signature.</i> <br />Caution: This new signature will be used in all future agent authorizations.
					</label>
				</div>
			</td>
			<td>&nbsp;&nbsp;</td>
			<td style="width:200px">
				<div id="divAgentNewSign">
					@Html.EditorFor(model => model.MySignature)
				</div>
			</td>
		</tr>
		<tr style="width:600px">
			<td colspan="3">
				<button type="button" id="ApplySignature" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-pencil"></span>Authorize</button>
			</td>
		</tr>

	</table>
</div>

@*}*@

<style type="text/css">
	.table-striped > tbody > tr:nth-child(odd) > td,
	.table-striped > tbody > tr:nth-child(odd) > th {
		background-color: #d9edf7;
	}

	.table {
		font-family: Arial;
		font-size: 12px;
		font-weight: bold;
	}

	.table-curved {
		border-collapse: collapse;
		/*border-collapse: separate;*/
		border: solid #ddd 1px;
		border-radius: 8px;
		border-left: 0px;
		border-top: 0px;
	}



		.table-curved > thead:first-child > tr:first-child > th {
			border-bottom: 0px;
			border-top: solid #ddd 1px;
		}

		.table-curved td, .table-curved th {
			/*border-left: 1px solid #ddd;*/
			border-top: 1px solid #ddd;
		}

		.table-curved tr {
			border-top: 1px solid #ddd;
			border-collapse: collapse;
		}

		.table-curved > :first-child > :first-child > :first-child {
			border-top-left-radius: 8px;
		}

		.table-curved > :first-child > :first-child > :last-child {
			border-top-right-radius: 8px;
		}

		.table-curved > :last-child > :last-child > :first-child {
			border-bottom-left-radius: 8px;
		}

		.table-curved > :last-child > :last-child > :last-child {
			border-bottom-right-radius: 8px;
		}

	.trThickBorder {
		outline: thin solid black;
	}

	.datePickerTextBox {
		width: 100px;
		height: 25px;
	}

	.textBoxmulti {
		border: 1px solid #e2e2e2;
		background: #fff;
		color: #333;
		font-size: 1.0em;
		margin: 5px 0 6px 0;
		padding: 5px;
		width: 800px;
		height: 40px;
	}
</style>