﻿@using HUDHealthcarePortal.BusinessService

@model UserViewModel

@{
    ViewBag.Title = "";
}
<script type="text/javascript">

    $(document).ready(function () {
        debugger;
        var multiSelect = $("#dvMultiSelect");
        var wlmId = $("#wlmId").val();
        if (wlmId == '-999') {
            // multiSelect.hide();
        }
    });

    function WLMChanged(e) {
        var wlmanagerID = $('#wlmId').val();
        angular.element($("#dvContainer")).scope().WLMChanged(e);
    }

    $("#Continue").click(function () {
        debugger;
        var wlmId = $("#wlmId").val();
        if (wlmid = "") {
            alert("Please select Workload Manager");
            return false;
        }
    })

</script>

<section id="selectServicerFhaStep2" style="width:1160px;">
    @Html.AntiForgeryToken()
    <div id="dvContainer" class="container-fluid" ng-app="multiSelectModule" ng-controller="assignFHAsSpecialOptionCtrl">
        <div class="row" style="margin-bottom:15px;">
            <h3 style="text-align:center; font-weight:bold;">Select FHA's for the Special Option user</h3>
        </div>
        <div class="container-fluid" style="margin-left: 250px; margin-bottom: 25px; ">
            <div class="row" id="workloadManagerDiv">
                <span class="col-md-4 text-right">
                    @Html.LabelFor(m => m.SelectedWorkloadManagerId)
                </span>
                <span class="col-md-4">
                    @Html.DropDownListFor(m => m.SelectedWorkloadManagerId, Model.AllWorkloadManagers, new { onchange = "WLMChanged(this)", id = "wlmId" })
                </span>
            </div>
        </div>
        <div class="row" id="dvMultiSelect" style="margin-left:125px;">
            <span class="col-md-12" style="margin-bottom:25px;">
                <multi-select ng-model="selectedFHAs.fhas" available="FHAs" display-attr="Value" key-attr="Key"
                              available-label="Available FHAs" selected-label="Selected FHAs"></multi-select>
            </span>
            <div style="margin-left:20px;">
                <span>
                    <input type="button" value="Continue" ng-click="createUserLARLinks()" />
                </span>
                <span>
                    <input type="button" value="Cancel" onclick="window.location.href='/Account/RegisterUserStep1'" />
                </span>
            </div>
        </div>
    </div>
</section>
@section Styles {
    <link href="@Url.Content("~/Content/multiSelect.css")" rel="stylesheet" type="text/css" />
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/App/app.js"></script>
<script src="~/Scripts/App/Directives/multiSelect.js"></script>
<script src="~/Scripts/App/Services/multiSelectSvc.js"></script>
<script src="~/Scripts/App/Controllers/roleCtrl.js"></script>


