﻿@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@model List<DerivedUploadData>
@{
    ViewBag.Title = "Print Preview";
    Layout = "~/Views/Shared/_LayoutBare.cshtml";
    string id = ViewBag.PrintReportType;
}
<script type="text/javascript">
    //document.write("<p id='loading' style='top:0px;left:0px;position:absolute;background-color:#ddd;'>Loading...</p>");
    $(document).ready(function() {
       
        window.print();
    });
   
</script>
@switch (id)
{

    case "PrintUploadAll":
        <img src="@Url.Action("PrintProjectReport", "Print")"/>
        break;
    case "PrintUploadByTime":
        <img src="@Url.Action("PrintProjectReportByTime", "Print", new {timestamp = ViewBag.Timestamp, userId = ViewBag.UserId})" />
        break;

    case "PrintUploadByCategory":
        <img src="@Url.Action("PrintProjectReportByCategory", "Print", new {category = ViewBag.Category, quarter = ViewBag.Quarter})" />
        break;

    case "PrintUploadByCategorySearch":
        <img src="@Url.Action("PrintProjectReportByCategorySearch", "Print", new {timestamp = ViewBag.Timestamp, fhanumber = ViewBag.Fhanumber, category = ViewBag.Category, quarter = ViewBag.Quarter})" />
        break;

    case "PrintUploadStatusByLender":
        <img src="@Url.Action("PrintUploadStatusReportByLender", "Print", new {strlenderId = ViewBag.LenderId, selectedQtr = ViewBag.Quarter})" />
        break;

    case "PrintUploadStatusDetailByLender":
        <img src="@Url.Action("PrintUploadStatusDetailReportByLender", "Print", new {strlenderId = ViewBag.LenderId, selectedQtr = ViewBag.Quarter})" />
        break;

    case "PrintMissingProjectDetailByLender":
        <img src="@Url.Action("PrintMissingProjectReportDetailByLender", "Print", new {lenderId = ViewBag.LenderId, quarter = ViewBag.Quarter})" />
        break;

    case "PrintMyUploadReport":
        <img src="@Url.Action("PrintMyUploadReport", "Print")"/>
        break;

    case "PrintMissingProjectSuperUser":
        <img src="@Url.Action("PrintMissingProjectForSuperUser", "Print", new {year = ViewBag.Year})" />
        break;

    case "PrintMissingProjectSuperUserWLM":
        <img src="@Url.Action("PrintMissingProjectForSuperUserWLM", "Print", new {year = ViewBag.Year})" />
        break;

    case "PrintMissingProjectWLM":
        <img src="@Url.Action("PrintMissingProjectForWLM", "Print", new {year = ViewBag.Year, userName = ViewBag.Username})" />
        break;

    case "PrintMissingProjectAE":
        <img src="@Url.Action("PrintMissingProjectForAE", "Print", new {year = ViewBag.Year, userName = ViewBag.Username})" />
        break;

    case "PrintPortfolioSummary":
        <img src="@Url.Action("PrintPortfolioSummaryReport", "Print", new {page = ViewBag.Page, sort = ViewBag.Sort, sortDir = ViewBag.SortDir, quarter = ViewBag.Quarter})" />
        break;

    case "PrintPortfolioDetail":
        <img src="@Url.Action("PrintPortfolioDetailReport", "Print", new
                  {
                      page = ViewBag.Page, sort = ViewBag.Sort, sortDir = ViewBag.SortDir,
                      portfolioNum = ViewBag.PortfolioNum, quarter = ViewBag.Quarter
                  })" />
        break;

    case "PrintProjectReport":
        <img src="@Url.Action("PrintProjectReportReport", "Print", new {reportLevel = ViewBag.ReportLevel, wlmId = ViewBag.WlmId, aeId = ViewBag.AeId, lenderId = ViewBag.LenderId, minUploadDate = ViewBag.MinUploadDate, maxUploadDate = ViewBag.MaxUploadDate})" />
        break;

    case "PrintHighLoanProjectReport":
        <img src="@Url.Action("PrintHighLoanProjectReportReport", "Print", new {reportLevel = ViewBag.ReportLevel, wlmId = ViewBag.WlmId, aeId = ViewBag.AeId, lenderId = ViewBag.LenderId, minUploadDate = ViewBag.MinUploadDate, maxUploadDate = ViewBag.MaxUploadDate})" />
        break;

    case "PrintRatioExceptionProjectReport":
        <img src="@Url.Action("PrintRatioExceptionProjectReportReport", "Print", new
                  {
                      reportLevel = ViewBag.ReportLevel,
                      wlmId = ViewBag.WlmId,
                      aeId = ViewBag.AeId,
                      lenderId = ViewBag.LenderId,
                      minUploadDate = ViewBag.MinUploadDate,
                      maxUploadDate = ViewBag.MaxUploadDate,
                      isDebtCoverageRatio = ViewBag.IsDebtCoverageRatio, isDaysCashOnHand = ViewBag.IsDaysCashOnHand, isAvgPaymentPeriod = ViewBag.IsAvgPaymentPeriod, isWorkingCapital = ViewBag.IsWorkingCapital, isDaysInAcctReceivable = ViewBag.IsDaysInAcctReceivable
                  })" />
        break;

    case "PrintPAMReport":
        <img src="@Url.Action("PrintPAMReports", "Print", new {aeIds = ViewBag.AeIds, fromDate = ViewBag.FromDate, toDate = ViewBag.ToDate, status = ViewBag.Status})" />
        break;
}

