﻿@model OPAViewModel

@{
    ViewBag.Title = "";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<link href="~/Content/jquery.jqGrid/jquery-uiv2.css" rel="stylesheet" />*@
@*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
    @*<script src="~/Scripts/JqGrid/jquery-ui-1.10.0.min.js"></script>*@
    @*<script src="~/Scripts/JqGrid/grid.locale-en.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<div id="reviewerMainGrid" style="width:1300px">

    <table id="reviewerTaskGrid"></table>
    <div id="pager"></div>
    <br/>
    <input type="button" id="btnSubmit" value="Submit" />  

    <label for="comment">Comment:</label>
    <textarea id="cmtNewFileReq" class="form-control" rows="5" ></textarea>

    <input type="button" id="btnAddNewFile" value="Add new File Request" />  


</div>

<style type="text/css">
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }

    .ui-jqgrid {
        font-size: 8.8em;
    }
    .mylink {
        text-decoration: underline;
    }
    .hiddenCell {
        visibility:collapse ;
    }
    .ui-jqgrid tr.jqgrow td {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        overflow: hidden;
        height: auto;
        vertical-align: middle;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 1.2em;
    }

    .errorClass {
        border: 1px solid red;
    }


    .thumbnail-item {
        /* position relative so that we can use position absolute for the tooltip */
        position: relative;
        float: left;
        margin: 0px 5px;
    }

        .thumbnail-item a {
            display: block;
        }

        /*.thumbnail-item img.thumbnail {
            border: 3px solid #ccc;
        }*/

    .tooltip {
        /* by default, hide it */
        display: none;
        /* allow us to move the tooltip */
        position: absolute;
        /* align the image properly */
        padding: 8px 0 0 8px;
    }

        .tooltip span.overlay {
            /* the png image, need ie6 hack though */
            /* background: url(images/overlay.png) no-repeat; 
            /* put this overlay on the top of the tooltip image */
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            width: 100px;
            height: 100px;
        }
</style>
<script type="text/javascript">
    details = "<span class='fa fa-fw fa-plus'></span>&nbsp;" +
                 "<span class='mylink'> Show</span>";
    fileHistory = "<span class='fa fa-fw fa-plus'></span>&nbsp;" +
                "<span class='mylink'> View files</span>";

    var fileListUpdate = [];
   
    var isReqAddValidation = [];

    $(document).ready(function () {
        //debugger;
        $("#reviewerTaskGrid").jqGrid({
            url: "/ProductionApplication/GetProdOpaHistoryGridContent?taskInstanceId=" + $("#TaskGuid").val() + "",
           // url: "/OPAFormReviewer/GetReviewerGridContent?taskInstanceId=" + $("#TaskGuid").val() + "",
            datatype: 'json',
            mtype: 'POST',
          
            colNames: ['Action', 'Name', 'Role', 'Comment', 'FileID', 'File History', 'File Name', 'File Size(KB)', 'File Uploaded Date', 'Submitted Date', 'Request Additional Info', 'Comments', '', 'Approve <br/> <input type="checkbox" id="cbox" onclick="checkBox(event)" /> CheckAll', 'Reviews'],

            colModel: [
                
               { name: 'actionTaken', index: 'actionTaken', editable: false, width: 150 },
               { name: 'name', index: 'name', editable: false },
               { name: 'userRole', index: 'userRole', editable: false },
               { name: 'comment', index: 'comment', editable: false },
               { name: 'fileId', index: 'fileId', editable: true, hidden: true },
               {
                    name: "fileHistory",
                    align: "center", width: 70,
                    formatter: function (cellvalue, options, rowObject) {
                      // debugger;
                        if (rowObject.fileId == null) {
                            return " "
                        }
                        else {
                            return fileHistory;
                        }
                    }
                },
                {
                    name: 'fileName', index: 'fileName', type: 'link', width: 150,
                   cellattr: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName != null) {

                           return ' style="text-decoration: underline"';
                       }
                   },
                   formatter: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName == null) {
                           return " "
                       }
                       else {
                           return '<a href="/OPAForm/OPADownloadTaskFile/?taskfileid=' + cellvalue + '">' + rowObject.fileName + '</a>';
                       }
                   }
               },
               {
                   name: 'fileSize', index: 'fileSize', editable: false, width: 60,
                   formatter: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName == null) {
                           return " "
                       }
                       else {
                           return cellvalue;
                       }
                   }
               },
               { name: 'uploadDate', index: 'uploadDate', editable: false, formatter: 'date', width: 100, formatoptions: { newformat: 'm/d/y' } },
                { name: 'submitDate', index: 'submitDate', width: 100, editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/y' } },
              
               {
                   name: 'r1ReqAddInfo', index: 'r1ReqAddInfo', sortable: false, editable: true, edittype: 'checkbox', width: 90,
                   formatter: "checkbox", formatoptions: { disabled: true },
                   cellattr: function (cellvalue, options, rowObject) {
                       if (rowObject.fileId == null) {
                           return " class='hiddenCell'";
                       }
                       else
                       {

                           return " class= 'exclusiveRowCheckbox'"
                   }
                       //debugger;
                       //if(rowObject.fileId != null)
                       //{
                       //    jQuery("#reviewerTaskGrid").jqGrid('setCell', cellvalue, 'r1ReqAddInfo', {
                       //        editable: true, edittype: 'checkbox', width: 90,
                       //        formatter: "checkbox", formatoptions: { disabled: true }
                       //    });
                         
                       //}
                   }
               },
               
               {
                   name: 'r1Comments', index: 'r1Comments', editable: true, edittype: 'textarea', sortable: false,
                   cellattr: function (cellvalue, options, rowObject) {
                       if (rowObject.fileId == null) {
                           return " class='hiddenCell'";
                          // return '';
                       }
                   }
               },
               {
                   name: 'someUniqueColumnName',
                   width: 25,
                   fixed: true,
                   formatter: function (cellvalue, options, rowObject) {
                       //return "<img src='http://myserver/path/i.jpg' alt='my image' />";
                       if (rowObject.fileName != null) {
                           return '<div class="thumbnail-item"><a href="#"><img src="/Content/images/comments.png" alt="my image" class="thumbnail" /></a><div class="tooltip">' + rowObject.fileName + '<span class="overlay"></span></div> </div> ';
                       }
                       else {
                           return '';
                       }
                   }
               },
               {
                   name: 'r1Approve', index: 'r1Approve', editable: true, edittype: 'checkbox', editoptions: { value: "True:False" }, width: 80,
                   formatter: "checkbox", formatoptions: { disabled: true }, sortable: false,
                   cellattr: function (cellvalue, options, rowObject) {
                       if (rowObject.fileId == null) {
                           return " class='hiddenCell'";
                       }
                       else {
                           return " class= 'exclusiveRowCheckbox'"
                       }
                   }
               },
               {
                   name: "details",
                   align: "center", width: 70,
                   formatter: function (cellvalue, options, rowObject) {
                       if (rowObject.fileId == null) {
                           return " "
                       }
                       else {
                           return details;
                       }
                   }
               }


            ],
            pager: jQuery('#pager'),
            cellEdit: false,
            cellsubmit: 'clientArray',
            rowNum: 10,
            loadonce: true,
            rowList: [10, 20, 30, 40],
            shrinkToFit: false,
            height: '100%',
            viewrecords: true,
            gridview: true, autoencode: true,
            width: 1250,
            //editurl: "/OPAFormReviewer/UpdateFileTask?taskInstanceId=" + $("#TaskGuid").val() + "&fileId=" + $("#TaskGuid").val() + "&isAddInfo=" + $("#TaskGuid").val() + "&isApprove=" + $("#TaskGuid").val() + "&comments=" + $("#TaskGuid").val() + "",
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
                //Id: "0"
            },
            onPaging: function (pgButton) {
               
                var isGoodToGo = true;
                for (ifile = 0; ifile < fileListUpdate.length; ifile++) {

                    if (fileListUpdate[ifile].ReqAdditionalInfo && fileListUpdate[ifile].Comments.length <= 0) {
                        $("#" + fileListUpdate[ifile].rowId + "_r1Comments").addClass('errorClass');
                        isGoodToGo = false;
                    }
                    else {
                        $("#" + fileListUpdate[ifile].rowId + "_r1Comments").removeClass('errorClass');
                    }

                };

                if (!isGoodToGo) {
                    alert("Error : Please enter comment.Comment is mandatory for request additional information.");
                    return 'stop';
                };
            },
            gridComplete: function () {
                ////alert("grid complet");
                ////debugger;
                //$("#CreatedBy").val() + $("#CreatedOn").val()
                //$("#reviewerTaskGrid").jqGrid('setGroupHeaders', {
                //    useColSpanStyle: true,
                //    groupHeaders: [
                //      { startColumnName: 'r1ReqAddInfo', numberOfColumns: 4, titleText: $("#UserName").val() + '  (' + $("#UserRole").val() + ')' },
                //     { startColumnName: 'fileId', numberOfColumns: 4, titleText: 'File Details' }
                //    ]
                //});

            },

            loadComplete: function () {
               
                var lista = jQuery("#reviewerTaskGrid").getDataIDs();
                for(i=0;i<lista.length;i++){
                 
                    jQuery("#reviewerTaskGrid").jqGrid('editRow', lista[i]);
              
                    for (ifile = 0; ifile < fileListUpdate.length; ifile++) {
                        if (fileListUpdate[ifile].fileId == getCellValue(lista[i], 'fileId')) {
                            $('#' + lista[i] + '_r1Comments').val(fileListUpdate[ifile].Comments);
                            $('#' + lista[i] + '_r1ReqAddInfo').prop("checked", fileListUpdate[ifile].ReqAdditionalInfo);
                            $('#' + lista[i] + '_r1Approve').prop("checked", fileListUpdate[ifile].Approve);
                          
                        }
                    }
                     
                }

            },
            loadError: function (xhr, status, error) {
              
            },
            multiselect: false,
            autoencode: true,
            beforeSelectRow: function (rowid, e) {
               
                var $self = $(this),
                    p = $self.jqGrid("getGridParam"),
                    $td = $(e.target).closest("tr.jqgrow>td"),
                    cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                    cmName = cm != null ? cm.name : null;

               
                if (cmName === "r1ReqAddInfo")
                {
                    if (ischeckBoxChecked(rowid, 'r1ReqAddInfo')) {
                        $('#' + rowid + '_r1Approve').prop("checked", false);
                        $('#' + rowid + '_r1Comments').focus();
                        $("#" + rowid + "_r1Comments").blur(function () {
                            updateCustomRowEdit(rowid,
                                          getCellValue(rowid, 'fileId'),
                                          ischeckBoxChecked(rowid, 'r1ReqAddInfo'),
                                          getCellValue(rowid, 'r1Comments'),
                                          ischeckBoxChecked(rowid, 'r1Approve'));
                        });
                        isReqAddValidation.push({
                            rowkey: rowid,
                            fileId :getCellValue(rowid, 'fileId') 
                        });
                    }
                    else {

                        for (iCount = 0 ; iCount < isReqAddValidation.length; iCount++) {
                            if (isReqAddValidation[iCount].rowkey == rowid) {
                                isReqAddValidation = [];
                            };
                        };
                      
                    };
                }

                if (cmName === "r1Approve") {
                    if (ischeckBoxChecked(rowid, 'r1Approve')) {
                        $('#' + rowid + '_r1ReqAddInfo').prop("checked", false);
                    }
                }

                if (cmName === "r1ReqAddInfo" || cmName === "r1Comments" || cmName === "r1Approve") {

                    $("#" + rowid + "_" + cmName + "").blur(function () {

                        updateCustomRowEdit(rowid,
                                       getCellValue(rowid, 'fileId'),
                                       ischeckBoxChecked(rowid, 'r1ReqAddInfo'),
                                       getCellValue(rowid, 'r1Comments'),
                                       ischeckBoxChecked(rowid, 'r1Approve'));
                    });

                };

                if (cmName === "details") {
                    // simulate opening the subgrid
                    //$($td.parent()[0].cells[p.iColByName.subgrid]).click();
                    $('#reviewerTaskGrid').toggleSubGridRow(rowid);
                    // inverse +/-

                    //if ($('.mylink').text() == '+ Show')
                    //{
                    //    $('.mylink').text('- Hide');
                      
                    //}
                    //else
                    //{
                    //    $('.mylink').text('- Show');
                    //}
                    var $plusMinus = $td.find("span.fa");
                    if ($plusMinus.hasClass("fa-minus")) {
                        $plusMinus.removeClass("fa-minus").addClass("fa-plus");
                    } else {
                        $plusMinus.removeClass("fa-plus").addClass("fa-minus");
                    }
                }

                return false;
            },

            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {

                var subgrid_table_id, pager_id;
                subgrid_table_id = subgrid_id + "_t";
                pager_id = "p_" + subgrid_table_id;
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table><div id='" + pager_id + "' class='scroll'></div>").css("padding-left", "500px");;
                subgridData = $(this).jqGrid("getLocalRow", row_id).fileId;
               // subgridData = $(this).jqGrid("getLocalRow", row_id).details;

                jQuery("#" + subgrid_table_id).jqGrid({
                    url: "/OPAFormReviewer/GetFileReviews?taskInstanceId=" + $("#TaskGuid").val() + "",
                    datatype: 'json',
                    mtype: 'POST',
                    colNames: ['Name', 'Tittle', 'Request Additional Info', 'Comments', 'Approve', 'Updated Date'],
                    colModel: [
                      
                       { name: 'name', index: 'name', editable: false, width: 120 },
                       { name: 'userRole', index: 'userRole', editable: false, width: 120 },
                       {
                             name: 'r1ReqAddInfo', index: 'r1ReqAddInfo', editable: true, edittype: 'checkbox', width: 90,
                             formatter: "checkbox", formatoptions: { disabled: true }, sortable: false,
                           cellattr: function (cellvalue, options, rowObject) {
                                 if (rowObject.fileId == null) {
                                     return " class='hiddenCell'";
                                 }
                               }
                           },
               {
                   name: 'r1Comments', index: 'r1Comments', editable: true, edittype: 'textarea', sortable: false,
                   cellattr: function (cellvalue, options, rowObject) {
                       if (rowObject.fileId == null) {
                           return " class='hiddenCell'";
                       }
                               }
               },

               {
                   name: 'r1Approve', index: 'r1Approve', editable: true, edittype: 'checkbox', editoptions: { value: "True:False" }, width: 80,
                   formatter: "checkbox", formatoptions: { disabled: true }, sortable: false,
                   cellattr: function (cellvalue, options, rowObject) {
                       if (rowObject.fileId == null) {
                           return " class='hiddenCell'";
                               }
                           }
                       },
                       { name: 'submitDate', index: 'submitDate', editable: true, formatter: 'date', formatoptions: { newformat: 'm/d/y' }, width: 120 }],
                    rowNum: 8,
                    pager: pager_id,
                    sortname: 'actionTaken',
                    sortorder: "asc",
                    viewrecords: true,
                    sortable: true,
                    height: '100%',
                    autowidth: false,
                    jsonReader: {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: false
                        //Id: "0"
                    },
                    loadComplete: function () {
                        this.grid.hDiv.scrollLeft = this.grid.bDiv.scrollLeft;
                        //alert("done");
                    },
                    loadError: function (xhr, status, error) {
                       // //alert("error");
                    }
                });
                jQuery("#" + subgrid_table_id).jqGrid('navGrid', "#" + pager_id, { edit: false, add: false, del: false });
            }

        }).jqGrid("hideCol", "subgrid").navGrid('#pager', { edit: false, add: true, del: false, search: true, refresh: true }).navButtonAdd('#pager', {
             caption: "Export to Excel",
             buttonicon: "ui-icon-disk",
             onClickButton: function () {
                 //Put your code here to make a ajax call to ExportExcel Controller
                 ExportDataToExcel("#LenderGroupTaskGrid");
             },
             position: "last"
         });


    });
       
    $('div.thumbnail-item').mouseenter(function(e) {

        // Calculate the position of the image tooltip
        x = e.pageX - $(this).offset().left;
        y = e.pageY - $(this).offset().top;

        // Set the z-index of the current item, 
        // make sure it's greater than the rest of thumbnail items
        // Set the position and display the image tooltip
        $(this).css('z-index','15')
		.children("div.tooltip")
		.css({'top': y + 10,'left': x + 20,'display':'block'});
			
    }).mousemove(function(e) {
			
        // Calculate the position of the image tooltip			
        x = e.pageX - $(this).offset().left;
        y = e.pageY - $(this).offset().top;
			
        // This line causes the tooltip will follow the mouse pointer
        $(this).children("div.tooltip").css({'top': y + 10,'left': x + 20});
			
    }).mouseleave(function() {
   
        // Reset the z-index and hide the image tooltip 
        $(this).css('z-index','1')
		.children("div.tooltip")
		.animate({"opacity": "hide"}, "fast");
    });


       
    function updateFileDetails(fileData) {

 
        var editData = JSON.stringify({ 'taskInstanceId': $("#TaskGuid").val(), 'FileUpdates': fileData });
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/OPAFormReviewer/UpdateFileTask',
            data: "editData=" + editData,
            success: function () {
               alert("File updates done successfully called.");
            },
            failure: function (response) {
               alert("Error");
        }
        });

        }
            
    function getCellValue(rowId, cellId) {
        var cell = jQuery('#' + rowId + '_' + cellId);
        var val = cell.val();
        return val;
    }
                   
    function ischeckBoxChecked(rowId, cellId) {

        if (jQuery('#' + rowId + '_' + cellId).is(':checked')) {
            return true;
        }
        else {
                    return false;
                }
    }

    function updateCustomRowEdit(rowId,fileId, r1ReqInfo, r1Comment, r1Approve) {
       
        var isNew = true;

        if (r1Comment != null && r1Comment.length > 0) {

            $("#" + rowId + "_r1Comments").removeClass('errorClass');
        };

        for (ifile = 0; ifile < fileListUpdate.length; ifile++) {
            if (fileListUpdate[ifile].fileId == fileId) {
                fileListUpdate[ifile].rowId = rowId;
                fileListUpdate[ifile].ReqAdditionalInfo = r1ReqInfo;
                fileListUpdate[ifile].Comments = r1Comment;
                fileListUpdate[ifile].Approve = r1Approve;
                isNew = false;
            }
                
        }
        if (isNew) {
            fileListUpdate.push({
                rowId : rowId,
                fileId: fileId,
                ReqAdditionalInfo: r1ReqInfo,
                Comments: r1Comment,
                Approve: r1Approve
            });

        }
        }
    
    function checkBox(event) {
 
        var lista = jQuery("#reviewerTaskGrid").jqGrid('getGridParam', 'data');
        var rowToUpdate = true;
        if (document.getElementById('cbox').checked) {

            for (i = 0; i < lista.length; i++) {
                rowToUpdate = true;
                for (ifile = 0; ifile < fileListUpdate.length; ifile++) {
                    if (fileListUpdate[ifile].fileId == lista[i].fileId) {
                        rowToUpdate = false;
                        updateCustomRowEdit(fileListUpdate[ifile].id, fileListUpdate[ifile].fileId, false, fileListUpdate[ifile].Comments, true);
                    }
                }
       
                if (rowToUpdate) {
                    updateCustomRowEdit(lista[i].id, lista[i].fileId, false, lista[i].r1Comments, true);
                }
                $('#' + lista[i].id + '_r1Approve').prop("checked", true);
                $('#' + lista[i].id + '_r1ReqAddInfo').prop("checked", false);

            }
            }
        else {

            for (i = 0; i < lista.length; i++) {

                for (ifile = 0; ifile < fileListUpdate.length; ifile++) {
                    if (fileListUpdate[ifile].fileId == lista[i].fileId) {
                        rowToUpdate = false;
                        updateCustomRowEdit(fileListUpdate[ifile].id,fileListUpdate[ifile].fileId, fileListUpdate[ifile].ReqAdditionalInfo, fileListUpdate[ifile].Comments, false);
                    }
                }
                if (rowToUpdate) {
                    updateCustomRowEdit(fileListUpdate[ifile].id,lista[i].fileId, lista[i].r1ReqAddInfo, lista[i].r1Comments, false);
    }
                $('#' + lista[i].id + '_r1Approve').prop("checked", false);

    };
   
        }
    }

    $("#btnSubmit").click(function () {

        //debugger;
            var isGoodToGo = true;
            for (ifile = 0; ifile < fileListUpdate.length; ifile++) {

                if(fileListUpdate[ifile].ReqAdditionalInfo && fileListUpdate[ifile].Comments.length <=0)
        {
                    $("#" + fileListUpdate[ifile].rowId + "_r1Comments").addClass('errorClass');
                    isGoodToGo = false;
        }
        else
        {
                    $("#" + fileListUpdate[ifile].rowId + "_r1Comments").removeClass('errorClass');
                }

            }

            if (isGoodToGo) {

                updateFileDetails(fileListUpdate);

        }
            else {
                alert("Error : Please enter comment.Comment is mandatory for request additional information.")

    }
        });

    $("#btnAddNewFile").click(function () {
        var comment = $('#cmtNewFileReq').val();
        //reviewerTaskGrid
        alert(comment);
    });
  
</script>




