﻿@model RequestModel
@{
    ViewBag.Title = "";
}

@{ if ((ViewBag.Message == "Your request is sent.") || (ViewBag.Message == "Error occurred while sending request."))
   { 
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ClientName').val('');
            $('#ClientEmail').val('');
            $('#ClientPhone').val('');
            $('#Subject').val('');
            $('#ClientMessage').val(''); 
        });
    </script>
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        // Validation doesnot fire for Html.TextAreaFor by default. So the validator is parsed again on submit. 
        $("#submit").onsubmit(function() {
            $.validator.unobtrusive.parse($("request-email-form"));
        });
        
        
        
    });
</script>
@using (Html.BeginForm("SendRequestEmail", "Home", FormMethod.Post, new {  enctype = "multipart/form-data", id = "request-email-form" }))
{
    <hgroup>
                <h1>@ViewBag.Title</h1>
                <br />
                <h2 class="warning">@ViewBag.Message</h2>
            </hgroup>

    <b>Contact Us</b>
    <br />
    <span style="width:200px;">
                You may contact us by sending an email directly to HHCP@HUD.GOV, or by submitting the query using the form mentioned below.<br/>
                We will respond back to you as soon as possible.
            </span>
    <br /><br /><br />

    <div style="align-items:center; width:1024px;">
                <div class="container-fluid">
                    <div class="row">
        @*<div class="col-md-4">
                    <div class="container-fluid" >
                        <div class="row">
                            <span style="width:200px;">
                                <b>HUD</b><br />451 7th Street SW<br />Washington, DC 20410<br /><br />
                            </span>
                        </div>
                        <div class="row">
                            <span style="width:200px">
                                <b>Telephone Number </b><br />(202) 708-1112 <br />TTY: (202) 708-1455
                            </span>
                        </div>
                    </div>
                </div>*@
                        <div class="col-md-8">
                            <div class="container-fluid">
                                <div class="row">
                                    <span class="col-md-3 text-right description_nowrap" style="padding-top:5px;">
                                        @Html.LabelFor(m => m.ClientName)
                                    </span>
                                    <span style="width:625px">
                                        @Html.TextBoxFor(m => m.ClientName, new { placeholder = "First and Last Name" })
                                        @Html.ValidationMessageFor(m => m.ClientName)
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="col-md-3 text-right" style="padding-top:5px;">
                                        @Html.LabelFor(m => m.ClientEmail)
                                    </span>
                                    <span style="width:625px">
                                        @Html.TextBoxFor(m => m.ClientEmail, new { placeholder = "Email address" })
                                        @Html.ValidationMessageFor(m => m.ClientEmail)
                                    </span>
                                </div>

                                <div class="row">
                                    <span class="col-md-3 text-right" style="padding-top:5px;">
                                        @Html.LabelFor(m => m.ClientPhone)
                                    </span>
                                    <span style="width:625px">
                                        @Html.TextBoxFor(m => m.ClientPhone, new { placeholder = "(xxx)-xxx-xxxx" })
                                        @Html.ValidationMessageFor(m => m.ClientPhone)
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="col-md-3 text-right" style="padding-top:5px;">
                                        @Html.LabelFor(m => m.Subject)
                                    </span>
                                    <span style="width:625px">
                                        @Html.TextBoxFor(m => m.Subject, new { placeholder = "Subject of the query" })
                                        @Html.ValidationMessageFor(m => m.Subject)
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="col-md-3 text-right" style="padding-top:5px;">
                                        @Html.LabelFor(m => m.ClientMessage)
                                    </span>
                                    <span style="width:625px">
                                        @Html.TextAreaFor(m => m.ClientMessage, new { placeholder = "Detailed Information about the query", style = "height: 100px; width: 325px;" })
                                        @Html.ValidationMessageFor(m => m.ClientMessage)
                                    </span>
                                </div>
                                <br /><br />
                                <div class="row">
                                    <span class="col-md-2 text-right">

                                    </span>
                                    <span class="col-md-2 text-right">

                                    </span>
                                </div>
                                <div class="row">
                                    <span class="col-md-2">
                                    </span>
                                    <span class="col-md-2 content-wrapper">
                                        <input type="submit" class="form-control" id="submit" title="Submit Query">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

}
