﻿@model Model.Production.ReviewerInfo
      <style>
          fieldset {
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;
              border: 1px solid #d9edf7;
          }
          legend {
              border: solid 1px black;
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;
          }
          .form-group {
              margin-left:2px;
          }
          .margintop1 {
              margin-top: -21px;
          }
          .marginBottomText {
              margin-top: 7px;
          }
      </style>
    @if (Model.AssignedTo != null)
    {
        @Html.HiddenFor(m=>m.ReviewerTypeId)
        @Html.HiddenFor(m => m.IsAssigned, new { id = "txtIsAssigned" })


        <div class="form-horizontal col-xs-11">
            <fieldset>              
                <div class="col-xs-8">
                    <div class="form-group">
                        <div class="control-label col-xs-5">
                           
                          @Html.LabelFor(m => m.IsAssigned, "Was " + @Model.Reviewertype + " Assigned?")
                            
                        </div>
                        <div class="col-xs-4" style="margin-top:2px;">
                            @if (Model.IsAssigned)
                            {
                                <span>
                                    @Html.CheckBoxFor(m => m.IsAssigned, new { @checked = "checked", disabled = true, id = @Model.Reviewertype + "IsAssigned", @style = "width:20px;margin-left:10px;" }) Yes

                                </span>
                            }
                            else
                            {
                                <span>

                                    @Html.CheckBoxFor(m => m.IsAssigned, new { @checked = "checked", disabled = true, id = @Model.Reviewertype + "IsAssignedFalse", @style = "width:20px;margin-left:30px;" }) No

                                </span>
                            }


                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-xs-5">
                            @Html.LabelFor(m => m.AssignedTo, "Date Assigned:")
                        </div>
                        <div class="col-xs-4">                       
                            @Html.DisplayFor(m=>m.DateAssigned)
                        </div>

                    </div>
                  
                         <div class="form-group">
                        <div class="control-label col-xs-5">
                            @Html.LabelFor(m => m.AssignedTo, "Date Completed:")
                        </div>
                        <div class="col-xs-4">                        
                            @Html.DisplayFor(m=>m.DateCompleted)
                        </div>

                    </div>
                   
                   
                    <div class="form-group">
                        <div class="control-label col-xs-5">
                           @Html.LabelFor(m => m.AssignedTo, @Model.Reviewertype + " Assigned:")
                       </div>
                        <div class="col-xs-4">
                            @Model.AssignedTo
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="control-label col-xs-5">
                                @Html.LabelFor(m => m.Status, @Model.Reviewertype + " Status:")
                        </div>
                        <div class="col-xs-4">
                          @Model.Status
                        </div>

                    </div>
                    @if (Model.Comments != null && Model.ReviewerTypeId == (int)ProductionView.Attorney)
                         {
                        <div class="form-group">
                          <div class="control-label col-xs-4">
                         <label for="comment">Comment:</label>
                            </div>
                       <div class="col-xs-10">
                           <i><strong>@Model.Comments</strong></i> 
                     </div>

                  </div>
                 }
                </div>   
                @if (Model.Address != null)
                {
                    <div class="col-xs-3" style="margin-bottom: 10px;">                       
                            <div class="form-group">

                                <div>
                                    <label class="col-xs-3 control-label text-left">State:</label>
                                    <div class="col-xs-8 marginBottomText">
                                        @Model.Address.StateCode
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div>
                                    <label class="col-xs-3 control-label text-left">City:</label>
                                    <div class="col-xs-8 marginBottomText">
                                        @Model.Address.City
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div>
                                    <label class="col-xs-4 control-label text-left">Street: </label>
                                    <div class="col-xs-8 marginBottomText">
                                        @Model.Address.AddressLine1
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div>
                                    <label class="col-xs-3 control-label text-left">Zip Code:</label>
                                    <div class="col-xs-8 marginBottomText">
                                        @Model.Address.ZIP
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label text-left">Email:</label>
                                <div class="col-xs-8 marginBottomText">
                                    @Model.Address.Email
                                </div>                                
                            </div>                           
                  
                    </div>              
                }           
               
            </fieldset>
        </div>

    }
 else
{
 <div class="alert alert-info">
    <strong>Info!</strong> The Selected reviwer Is not assigned for this Process. Information will be available once this Reviewer is assigned Application/Closing processes
</div>
}