﻿@{
    ViewBag.Title = "Index";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<style type="text/css">
    .ui-jqgrid {
        font-family: Arial;
    }

    .well {
        padding: 10px;
        background: #d9edf7;
    }

    .ui-jqgrid > .ui-jqgrid-view {
        font-size: 12px;
    }

        .ui-jqgrid > .ui-jqgrid-view button {
            font-size: 10px;
        }

        .ui-jqgrid > .ui-jqgrid-view a {
            color: #428bca;
            font-weight: bolder;
        }

    tr.jqgroup td {
        font-weight: bold !important;
        color: black;
    }

    .ui-icon {
        font-size: 40px;
    }

    jqdialog .glyphicon, .ui-jqgrid .glyphicon {
        font-size: 20px;
        top: auto;
        color: darkslateblue;
    }
</style>
<div id="div_myPam">
    <table id="prodpamreport"></table>
    <div id="pager"></div>

</div>
<div id='dialogDiv' class='modal fade in'>
    <div id='dialogContent'></div>
</div>


<script type="text/javascript">

    jQuery("#prodpamreport").jqGrid({
        url: '@Url.Action("GetPAMTasks", "ProdPAM")',
        datatype: "json",
        colNames: ['FhaRequestType', 'ParentChildInstanceId', 'FhaNumber', 'Form', 'Groupid', 'ProjectName ', 'LoanType', 'StartDate ', 'EndDate', 'DaysActive', 'LoanAmount', 'LenderName', 'Lender UserName', 'IsReassigned', 'Reassignedby', 'ReassignedDate', 'Status', 'ProcessedBy', 'ProductionTaskType', 'viewname'],
        colModel: [
            {
                name: 'FhaRequestType', index: 'FhaRequestType', hidden: true
            },
             {
                 name: 'ParentChildInstanceId', index: 'ParentChildInstanceId', hidden: true
             },

               {
                   name: 'fhanumber', index: 'fhanumber', width: 100,
                   formatter: function (cellvalue, options, rowObject) {

                       if (rowObject.fhanumber != null) {

                           return cellvalue;
                       }
                       else
                       {
                           return "NA";
                       }
                       //alert(cellvalue);
                     
                       //if (rowObject.ProductionTaskType === "FHA # Request") {
                       //    return "<span class='ui-icon ui-icon-comment'  onclick='comments(\"" + rowObject.FhaRequestInstanceId + "\",\"" + rowObject.FhaRequestType + "\")';></span>";
                       //} else if (rowObject.ProductionTaskType === "Application Request") {
                       //    return "";
                       //}
                   }
               },
                 {
                     name: "Form", index: "Form", width: 50, align: 'left', sortable: true, type: 'link',
                     cellattr: function (cellvalue, options, rowObject) {
                         //if (rowObject.TaskName != null) {

                         //    return ' style=" text-decoration: underline;Color:blue"';
                         //}
                     },
                     formatter: function (cellvalue, options, rowObject) {

                         if (rowObject.ProductionTaskType === "FHA# REQUEST") {
                             //return '<a href="/ProductionMyTask/GetProductionTaskDetail?parentChildInstanceId=' + (rowObject.ParentChildInstanceId) + '&fhaRequestType=' + (rowObject.FhaRequestType) + '&IsFromPam=' + 'True' + '">' + '<span class="glyphicon glyphicon-share"> </span>' + '</a>';
                             return '<a href="/ProductionMyTask/GetProductionTaskDetail?parentChildInstanceId=' + (rowObject.ParentChildInstanceId) + '&fhaRequestType=' + (rowObject.FhaRequestType) + '&IsFromPam=' + 'True' + '">' + '<span><img src=\'../Content/images/ProjectDetails_Image.png\'> </span>' + '</a>';
                         } else {
                             //return '<a href="/ProductionMyTask/GetTaskDetail?taskInstanceId=' + (rowObject.ParentChildInstanceId) + '&IsFromPam=' + 'True' + '">' + '<span class="glyphicon glyphicon-share"> </span>' + '</a>';
                             return '<a href="/ProductionMyTask/GetTaskDetail?taskInstanceId=' + (rowObject.ParentChildInstanceId) + '&IsFromPam=' + 'True' + '">' + '<span><img src=\'../Content/images/ProjectDetails_Image.png\'> </span>' + '</a>';

                             //return '<a href="/ProductionMyTask/GetTaskDetail?taskInstanceId=' + (rowObject.ParentChildInstanceId) + '">' + '<span class="glyphicon glyphicon-share"> </span>' + '</a>';
                         }

                     }

                 },
                {
                    name: 'Groupid', index: 'Groupid', hidden: true
                },
               {
                   name: 'ProjectName', index: 'ProjectName', width: 150, align: 'left'
               },
                {
                    name: 'LoanType', index: 'LoanType', hidden: false, width: 150
                },
               {
                   name: 'StartDate', index: 'StartDate', hidden: false, width: 100, formatter: 'date', formatoptions: { newformat: 'm/d/Y' }
               },


               {
                   name: 'EndDate', index: 'EndDate', hidden: false, width: 100, formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'm/d/Y' }
               },




                  {
                      name: 'DaysActive', index: 'DaysActive', width: 100,
                      formatter: function (cellvalue, options, rowObject) {
                          //alert(cellvalue);
                          return cellvalue;
                          //if (rowObject.ProductionTaskType === "FHA # Request") {
                          //    return "<span class='ui-icon ui-icon-comment'  onclick='comments(\"" + rowObject.FhaRequestInstanceId + "\",\"" + rowObject.FhaRequestType + "\")';></span>";
                          //} else if (rowObject.ProductionTaskType === "Application Request") {
                          //    return "";
                          //}
                      }
                  },
                   {
                       name: 'LoanAmount', index: 'LoanAmount', hidden: false, width: 120, formatter: 'currency', formatoptions: { prefix: '$', suffix: '', thousandsSeparator: ',' }
                   },
                   {
                       name: 'LenderName', index: 'LenderName', hidden: false, width: 150
                   },
                    {
                        name: 'LenderUserName', index: 'LenderUserName', hidden: false, width: 150
                    },
                    {
                        name: 'IsReassigned', index: 'IsReassigned', width: 100,
                        formatter: function (cellvalue, options, rowObject) {

                            if (rowObject.IsReassigned == true) {
                                return "Yes";
                            } else {
                                return "";
                            }
                        }
                    },
                     {
                         name: 'Reassignedby', index: 'Reassignedby', hidden: true, width: 150
                     },
                      {
                          name: 'ReassignedDate', index: 'ReassignedDate', hidden: true, width: 130
                      },
                                 {
                                     name: 'StatusId', index: 'StatusId', width: 150,
                                     formatter: function (cellvalue, options, rowObject) {

                                         if (rowObject.StatusId === 17 || rowObject.StatusId === 18) {
                                             return "Open";
                                         }
                                         else if (rowObject.StatusId === 16) {
                                             return "RAI";
                                         }
                                         else if (rowObject.StatusId === 20) {
                                             return "FC Request";
                                         }
                                         else if (rowObject.StatusId === 21) {
                                             return "FC Response";
                                         }
                                         else {
                                             return "Closed"
                                         }
                                     }
                                 },
                       {
                           name: 'ProcessedBy', index: 'ProcessedBy', hidden: false, width: 150
                       },
                         {
                             name: 'ProductionTaskType', index: 'ProductionTaskType', hidden: true, width: 150
                         },
                          {
                              name: 'viewname', index: 'viewname', hidden: false, width: 150
                          }

            //{ name: 'name', index: 'name asc, invdate', width: 100 },

               //{
               //    name: 'Comments', index: 'Comments', width: 90,
               //    formatter: function (cellvalue, options, rowObject) {
               //        //if (rowObject.ProductionTaskType === "FHA # Request") {
               //        //    return "<span class='ui-icon ui-icon-comment'  onclick='comments(\"" + rowObject.FhaRequestInstanceId + "\",\"" + rowObject.FhaRequestType + "\")';></span>";
               //        //} else if (rowObject.ProductionTaskType === "Application Request") {
               //        //    return "";
               //        //}
               //    }
               //},

        ],
        pager: "#pager",
        rowNum: 20,
        rowList: [10, 20, 30, 40, 50],

        loadonce: false,
        caption: "Production PAM Report",
        //height: "500px",
        autowidth: true,
        autoheight: true,
        shrinkToFit: false,
        sortname: 'name',
        sortorder: 'asc',
        autoencode: true,
        gridview: true,
        ignoreCase: true,
        //width: 950,
        loadonce:false,
        grouping: true,
        groupingView: {
            groupField: ["ProductionTaskType"],
            groupColumnShow: [false],
            groupText: [
                        "Production Type: <b>{0}</b>"
            ],
            groupOrder: ["desc"],
            groupSummary: [false],
            groupCollapse: false,
            groupDataSorted: true
        },
        emptyrecords: 'No records to display',
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false
        },

        //scroll: 1,
        onSelectRow: function (rowid) {

            return false;
        },

        subGrid: true,
        subGridRowExpanded: function (subgrid_id, row_id) {
           // debugger;
            var subgrid_table_id, pager_id;
            var Type = 'FHA Request';
            var stat = false;
            subgrid_table_id = subgrid_id + "_t";
            $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table>");
            var groupid = $(this).getRowData(row_id).Groupid;
            //debugger;



            jQuery("#" + subgrid_table_id).jqGrid({
                url: '@Url.Action("GetPAMTasks", "ProdPAM")',
                // url: '/ProductionTask/GetFHARequestDetail/?TaskId=' + 123,
                postData: { Level: 'Low', grouptaskinstanceid: groupid },
                datatype: 'json',
                colNames: ['FhaRequestType', 'ParentChildInstanceId', 'FhaNumber', 'Form', 'Groupid', 'ProjectName ', 'LoanType', 'StartDate ', 'EndDate', 'DaysActive', 'LoanAmount', 'LenderName', 'Lender UserName', 'IsReassigned', 'Reassignedby', 'ReassignedDate', 'Status', 'ProcessedBy', 'ProductionTaskType', 'viewname', 'RAI'],
                colModel: [
                    {
                        name: 'FhaRequestType', index: 'FhaRequestType', hidden: true, key: true
                    },
                     {
                         name: 'ParentChildInstanceId', index: 'ParentChildInstanceId', hidden: true
                     },

                       {
                           name: 'fhanumber', index: 'fhanumber', width: 100,
                           formatter: function (cellvalue, options, rowObject) {
                               if (rowObject.fhanumber != null) {

                                   return cellvalue;
                               }
                               else {
                                   return "NA";
                               }
                           }
                       },
                         {
                             name: "Form", index: "Form", width: 50, align: 'left', sortable: true, type: 'link',
                             cellattr: function (cellvalue, options, rowObject) {
                                 //if (rowObject.TaskName != null) {

                                 //    return ' style=" text-decoration: underline;Color:blue"';
                                 //}
                             },
                             formatter: function (cellvalue, options, rowObject) {

                                 if (rowObject.ProductionTaskType === "FHA# REQUEST") {
                                     //return '<a href="/ProductionMyTask/GetProductionTaskDetail?parentChildInstanceId=' + (rowObject.ParentChildInstanceId) + '&fhaRequestType=' + (rowObject.FhaRequestType) + '&IsFromPam=' + 'True' + '">' + '<span class="glyphicon glyphicon-share"> </span>' + '</a>';
                                     return '<a href="/ProductionMyTask/GetProductionTaskDetail?parentChildInstanceId=' + (rowObject.ParentChildInstanceId) + '&fhaRequestType=' + (rowObject.FhaRequestType) + '&IsFromPam=' + 'True' + '">' + '<span><img src=\'../Content/images/ProjectDetails_Image.png\'> </span>' + '</a>';
                                 } else {
                                     //return '<a href="/ProductionMyTask/GetTaskDetail?taskInstanceId=' + (rowObject.ParentChildInstanceId) + '&IsFromPam=' + 'True' + '">' + '<span class="glyphicon glyphicon-share"> </span>' + '</a>';
                                     return '<a href="/ProductionMyTask/GetTaskDetail?taskInstanceId=' + (rowObject.ParentChildInstanceId) + '&IsFromPam=' + 'True' + '">' + '<span><img src=\'../Content/images/ProjectDetails_Image.png\'> </span>' + '</a>';

                                     //return '<a href="/ProductionMyTask/GetTaskDetail?taskInstanceId=' + (rowObject.ParentChildInstanceId) + '">' + '<span class="glyphicon glyphicon-share"> </span>' + '</a>';
                                 }

                             }

                         },
                        {
                            name: 'Groupid', index: 'Groupid', hidden: true
                        },
                       {
                           name: 'ProjectName', index: 'ProjectName', width: 150, align: 'left'
                       },
                        {
                            name: 'LoanType', index: 'LoanType', hidden: false, width: 150
                        },
                       {
                           name: 'StartDate', index: 'StartDate', hidden: false, width: 100, formatter: 'date', formatoptions: { newformat: 'm/d/Y' }
                       },


                        {
                            name: 'EndDate', index: 'EndDate', hidden: false, width: 100, formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'm/d/Y' }
                        },



                          {
                              name: 'DaysActive', index: 'DaysActive', width: 100,
                              formatter: function (cellvalue, options, rowObject) {
                                  //alert(cellvalue);
                                 // debugger;
                                  return cellvalue;
                                  //if (rowObject.ProductionTaskType === "FHA # Request") {
                                  //    return "<span class='ui-icon ui-icon-comment'  onclick='comments(\"" + rowObject.FhaRequestInstanceId + "\",\"" + rowObject.FhaRequestType + "\")';></span>";
                                  //} else if (rowObject.ProductionTaskType === "Application Request") {
                                  //    return "";
                                  //}
                              }
                          },
                           {
                               name: 'LoanAmount', index: 'LoanAmount', hidden: false, width: 120, formatter: 'currency', formatoptions: { prefix: '$', suffix: '', thousandsSeparator: ',' }
                           },
                           {
                               name: 'LenderName', index: 'LenderName', hidden: false, width: 150
                           },
                            {
                                name: 'LenderUserName', index: 'LenderUserName', hidden: false, width: 150
                            },
                            {
                                name: 'IsReassigned', index: 'IsReassigned', width: 100,
                                formatter: function (cellvalue, options, rowObject) {
                              
                                    if (rowObject.IsReassigned ==true) {
                                        return "Yes";
                                    } else {
                                       return "";
                                   }
                                }
                            },
                             {
                                 name: 'Reassignedby', index: 'Reassignedby', hidden: true, width: 150
                             },
                              {
                                  name: 'ReassignedDate', index: 'ReassignedDate', hidden: true, width: 130
                              },
                                         {
                                             name: 'StatusId', index: 'StatusId', width: 150,
                                             formatter: function (cellvalue, options, rowObject) {

                                                 if (rowObject.StatusId === 17 || rowObject.StatusId === 18) {
                                                     return "Open";
                                                 }
                                                 else if (rowObject.StatusId === 16) {
                                                     return "RAI";
                                                 }
                                                 else if (rowObject.StatusId === 20) {
                                                     return "FC Request";
                                                 }
                                                 else if (rowObject.StatusId === 21) {
                                                     return "FC Response";
                                                 }
                                                 else {
                                                     return "Closed"
                                                 }
                                             }
                                         },
                               {
                                   name: 'ProcessedBy', index: 'ProcessedBy', hidden: false, width: 150
                               },
                                 {
                                     name: 'ProductionTaskType', index: 'ProductionTaskType', hidden: true, width: 150
                                 },
                                  {
                                      name: 'viewname', index: 'viewname', hidden: false, width: 150
                                  },
                                   {
                                       name: 'RAI', index: 'RAI', hidden: false, width: 50
                                   }

                    //{ name: 'name', index: 'name asc, invdate', width: 100 },

                       //{
                       //    name: 'Comments', index: 'Comments', width: 90,
                       //    formatter: function (cellvalue, options, rowObject) {
                       //        //if (rowObject.ProductionTaskType === "FHA # Request") {
                       //        //    return "<span class='ui-icon ui-icon-comment'  onclick='comments(\"" + rowObject.FhaRequestInstanceId + "\",\"" + rowObject.FhaRequestType + "\")';></span>";
                       //        //} else if (rowObject.ProductionTaskType === "Application Request") {
                       //        //    return "";
                       //        //}
                       //    }
                       //},

                ],
                height: 'auto',
                autowidth: true,
                emptyrecords: 'No records to display',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id",
                    subgrid: {
                        root: "rows",
                        repeatitems: true,
                        cell: "cell",
                        id: "id"
                    }
                },
            });
            jQuery("#" + subgrid_table_id).jqGrid('navGrid', "#" + pager_id, { edit: false, add: false, del: false });
        }

    });
    jQuery("#prodpamreport").jqGrid('navGrid', '#pager', { edit: false, add: false, del: false });

    function comments(fhaRequestInstanceId, requestType) {
        $('#dialogContent').load('@Url.Action("GetComments","ProductionMyTask")', { fhaRequestId: fhaRequestInstanceId, type: requestType }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;

    }

</script>
