﻿@{
    ViewBag.Title = "_ProdPAMReport";
}

<h2>_ProdPAMReport</h2>





<script type="text/javascript">

    jQuery("#prodPamGrid").jqGrid({
        url: '@Url.Action("GetMyTasks","ProductionMyTask")',
        datatype: "json",
        colNames: ['FHANumber', 'Id', 'PropertyName', 'HudProjectManagerName', 'ProjectAction', 'ProjectActionSubmitDate', 'ProjectActionCompletionDate', 'ProjectActionDaysToComplete', 'IsProjectActionOpen', 'RequestedAmount', 'ApprovedAmount', 'LenderUserName', 'ReAssignedTo', 'ReAssignedBy', 'ReAssignedDate', 'Comment', 'RequestStatus', 'ProcessedBy', 'AdditionalInfoCount'],
        colModel: [
               {
                   name: 'FHANumber', index: 'FHANumber', width: 150, align: 'left'
               },
               {
                   name: 'Id', index: 'Id', hidden: true, width: 55
               },
               {
                   name: 'PropertyName', index: 'PropertyName', width: 150, align: 'left'
               },
               {
                   name: 'HudProjectManagerName', index: 'HudProjectManagerName', width: 55
               }
               ,
               {
                   name: 'ProjectAction', index: 'ProjectAction', width: 150, align: 'left'
               },
               {
                    name: 'ProjectActionSubmitDate', index: 'ProjectActionSubmitDate', width: 150, align: 'left'
               },
               {
                    name: 'ProjectActionCompletionDate', index: 'ProjectActionCompletionDate', width: 150, align: 'left'
               },
              
               {
                    name: 'ProjectActionDaysToComplete', index: 'ProjectActionDaysToComplete', width: 150, align: 'left'
               },

               {
                     name: 'IsProjectActionOpen', index: 'IsProjectActionOpen', width: 150, align: 'left'
               },
               {
                      name: 'RequestedAmount', index: 'RequestedAmount', width: 150, align: 'left'
               },
               {
                       name: 'ApprovedAmount', index: 'ApprovedAmount', width: 150, align: 'left'
               },
               {
                       name: 'LenderUserName', index: 'LenderUserName', width: 150, align: 'left'
               },
               {
                   name: 'ReAssignedTo', index: 'ReAssignedTo', width: 150, align: 'left'
               },
               {
                       name: 'ReAssignedBy', index: 'ReAssignedBy', width: 150, align: 'left'
               },
               {
                     name: 'LenderUserName', index: 'LenderUserName', width: 150, align: 'left'
               },
               {
                     name: 'ReAssignedDate', index: 'LastUpdated', width: 130, formatter: 'date', formatoptions: { newformat: 'm/d/Y' }
               },
               {
                     name: 'Comment', index: 'Comment', width: 150, align: 'left'
               },
            //{ name: 'name', index: 'name asc, invdate', width: 100 },
            { name: 'RequestStatus', index: 'RequestStatus', width: 100 },
            { name: 'ProcessedBy', index: 'ProcessedBy', width: 200 },
            { name: 'AdditionalInfoCount', index: 'AdditionalInfoCount', width: 150 },
            { name: 'AssignedTo', index: 'AssignedTo', width: 200 }
           ],
        pager: "#pager",
        rowNum: 20,
        rowList: [10, 20, 30, 40, 50],

        loadonce: true,
        caption: "Production Tasks Assigned To Me",
        height: "500px",
        autowidth: true,
        autoheight: true,
        shrinkToFit: true,
        sortname: 'name',
        sortorder: 'asc',
        autoencode: true,
        gridview: true,
        ignoreCase: true,
        //width: 750,
        //loadonce:true,
        grouping: false,
      
        emptyrecords: 'No records to display',
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false
        },

        //scroll: 1,
        onSelectRow: function (rowid) {

            return false;
        }

    });
    jQuery("#prodMyTaskGrid").jqGrid('navGrid', '#pager', { edit: false, add: false, del: false });

    jQuery("#prodMyTaskGrid").jqGrid('navButtonAdd', '#pager', {
        caption: "",
        onClickButton: function () {
            jQuery("#prodMyTaskGrid").excelExport();
        }
    });
</script>