﻿
<script type="text/javascript">
    function userSelected(target) {
        $('#dialogCommon').dialog('close');
        if ($(target).val() == 'Ok') {
           
            if ('@TempData["IsReAssigned"]' == true) {
                location.href = '/TaskReAssignment/MyReAssignmentTasks?page=' + '@TempData["page"] ' + '&sort=' + '@TempData["sort"] ' + '&sortdir=' + '@TempData["sortdir"] ';
            } else {
                location.href = '/ProductionMyTask/Index';
            }
        }
        return false;
    }
</script>
<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div>
          
            <p>@TempData["PopupText"]</p>
        </div>
    </div>

    <br />

    <div class="row" style="margin-left:90px;">
        <span class="col-md-4">
            <input id="btnOk" type="submit" name="ok" class="form-control" value="Ok" onclick="userSelected(this)">
        </span>
    </div>
</div>