﻿@model Model.ReportModel
<script type="text/javascript">
            $(document).ready(
                function () {
                    styleGrid();
                }
            );

            function styleGrid() {
                $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
            }


</script>
@{
    var grid = new WebGrid(Model.ReportGridModelList, canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "styleGrid");

}

@*<div class="row">
    <div style="float:right;">
        <div>
            @if (Model.ReportGridModelList.Count > 0)
            {
                @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", (string)ViewBag.ExcelExportAction, "ExcelExport", (object)ViewBag.ExcelActionParam, new { @class = "excelExport" }, null)
            }
            @if (Model.ReportGridModelList.Count > 0 && Core.WebUiConstants.ShowPrintIcon)
            {
                @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_print.jpg", Html.ViewContext.HttpContext), "Print", (string)ViewBag.PrintAction, "Print", (object)ViewBag.ExcelActionParam, new { target = "_blank" }, null)
            }
        </div>
    </div>
</div>*@

<div id="gridContent">
    @{
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("FhaNumber", "FHA Number", (item) => item.FhaNumber));
        gridColumns.Add(grid.Column("ProjectName", "Project Name", (item) => item.ProjectName));
        gridColumns.Add(grid.Column("ServiceName", "Servicer Name", (item) => item.ServiceName));
        gridColumns.Add(grid.Column("HUD_WorkLoad_Manager_Name", "Workload Manager", (item) => item.HUD_WorkLoad_Manager_Name));
    
        //gridColumns.Add(grid.Column("UnitsInFacility", "Units in Facility", (item) => item.UnitsInFacility));
        gridColumns.Add(grid.Column("PeriodEnding", "Period Ending", (item) => item.PeriodEnding));
        gridColumns.Add(grid.Column("MonthsInPeriod", "Months In Period", (item) => item.MonthsInPeriod));
              
    }

    @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header_row",
                rowStyle: "item_row",
                alternatingRowStyle: "item_alt_row",
                selectedRowStyle: "select",
                mode: WebGridPagerModes.All,
                firstText: "<< First",
                previousText: "< Prev",
                nextText: "Next >",
                lastText: "Last >>",

                columns: gridColumns.ToArray())

    @if (Model.ReportGridModelList.Count > 0)
    {

    }
    else
    {
        <p style="margin-left: 20px;">No Records Found</p>
    }

</div>