﻿@{
	ViewBag.Title = "Adhoc Data Download";
}

<script type="text/javascript" src="/Scripts/autoNumeric.js"></script>
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery.mask.js"></script>


<style type="text/css">
	.ui-dialog .ui-dialog-title {
		text-align: center;
		width: 100%;
	}

	ul.ui-autocomplete {
		list-style: none;
		list-style-type: none;
		padding: 2px;
		margin: 0px;
	}

	.background {
		background-color: #eee;
	}

	span.error {
		color: #e80c4d;
		font-weight: bold;
	}

	input[type="radio"] {
		width: 20px;
	}

	label.required:after {
		content: " *";
		color: red;
	}

	.overlay {
		position: fixed;
		background-color: #FAFAFA;
		z-index: 2147483647 !important;
		opacity: 0.8;
		overflow: hidden;
		text-align: center;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
	}

	.ui-autocomplete {
		max-height: 200px;
		overflow-y: auto;
		overflow-x: hidden;
		padding-right: 20px;
	}

	.disabled {
		pointer-events: none;
		opacity: 0.4;
	}
</style>


<section id="adhocform" style="width: 1300px; height: 1150px;">
    
	<div class="row" style="margin-left:20px;width: 1200px;">
       
        @*@{Session["ReportDate"] = @ViewBag.ReportDate;}*@
		Please click on the icon to download the data as of @Session["ReportDate"]
		@Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", "ExportProdAdhocDataDownloadReport", "ExcelExport", new object(), new { @class = "excelExport" }, null)
		

	</div>
</section>






