﻿@model Model.Production.ClosingInfo
<style>
    fieldset {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid #d9edf7;
    }

    legend {
        border: solid 1px black;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

    .form-group {
        margin-left: 2px;
    }
    .margintop{
        margin-top:-11px;
    }
</style>
@if (Model.AssignedTo != null)
{

    @Html.HiddenFor(m => m.IsAssigned, new { id = "txtIsAssigned" })
    @Html.HiddenFor(m=>m.TaskInstanceId)

    <div class="form-horizontal col-lg-12">
        <fieldset>
            <legend class="legend">Details</legend>

            <div class="col-lg-6">
                <div class="form-group">
                    <div class="control-label col-sm-5">
                                         
                        @Html.LabelFor(m => m.IsAssigned, "Has " + @Model.Reviewertype + " been assigned?")
                       
                    </div>
                    <div class="col-sm-4" style="margin-top:2px;">
                        @if (Model.IsAssigned)
                        {
                            <span>
                                @Html.CheckBoxFor(m => m.IsAssigned, new { @checked = "checked", disabled = true, id = @Model.Reviewertype + "IsAssigned", @style = "width:20px;margin-left:10px;" }) Yes

                            </span>
                        }
                        else
                        {
                            <span>

                                @Html.CheckBoxFor(m => m.IsAssigned, new { @checked = "checked", disabled = true, id = @Model.Reviewertype + "IsAssignedFalse", @style = "width:20px;margin-left:30px;" }) No

                            </span>
                        }


                    </div>
                   
                </div>
                <div class="form-group margintop">
                        <div class="control-label col-sm-5">
                        @Html.LabelFor(m => m.AssignedTo, "Date Assigned:")
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.DateAssigned, "{0:MM/dd/yyyy}", new { disabled = true, @class = "form-control" })
                    </div>

                </div>
                @if (Model.StatusId > (int)ProductionAppProcessStatus.InProcess)
                    {
                <div class="form-group margintop">
                    <div class="control-label col-sm-5">
                        @Html.LabelFor(m => m.AssignedTo, "Date Completed:")
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.DateCompleted, "{0:MM/dd/yyyy}", new { disabled = true, @class = "form-control" })
                    </div>

                </div>
                }
                <div class="form-group margintop">
                    <div class="control-label col-sm-5">
                        @if (Model.Reviewertype == "Survey")
                        {
                            @Html.LabelFor(m => m.AssignedTo, "OH " + @Model.Reviewertype + " Assigned:")
                        }
                        else
                        {
                            @Html.LabelFor(m => m.AssignedTo, @Model.Reviewertype + " Assigned:")
                        }
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.AssignedTo, new { disabled = true, @class = "form-control" })
                    </div>

                </div>
                <div class="form-group margintop">
                    <div class="control-label col-sm-5">
                        @if (Model.Reviewertype == "Survey")
                        {
                            @Html.LabelFor(m => m.Status, "OHP " + @Model.Reviewertype + " Status:")
                        }
                        else
                        {
                            @Html.LabelFor(m => m.Status, @Model.Reviewertype + " Status:")
                        }
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Status, new { disabled = true, @class = "form-control" })
                    </div>

                </div>              
                <div class="form-group">
                    <div class="col-sm-5" style="margin-top: -26px;">
                        @Html.LabelFor(m => m.Comments, @Model.Reviewertype + " Comments:")
            </div>
                    <div class="col-sm-5">
                        @Html.TextAreaFor(m => m.Comments, new { disabled = true, @class = "form-control", @Style = "width: 400px;", id = @Model.Reviewertype + "oldComment", @rows = "8" })
                    </div>
    
                </div>
                <div class="form-group" style="margin-left: -31px;">
                 <form role="form" id="@Model.Reviewertype" class="commentForm">
                        <div class="col-lg-8 margintop">
                            <div class="col-sm-8">
                                @Html.TextArea("newComment", new { @class = "form-control", @placeHolder = "Add New Comment Here...", @spellcheck = true, @style = "width: 400px;height:150px; margin-top:2px;", id = @Model.Reviewertype + "comment", @rows = "3" })
                                <div class="form-group" style="margin-left:2px;margin-top:2px;">
                                <button class="btn btn-default" style="border-color: #999">Add Comment</button>
                                    <span class="pull-right">
                                        <button id="btnAttach" class="btn btn-default"
                                                style="border-color: #999">
                                            Attach
                                        </button>
                                    </span>
                            </div>                           
                        </div>

                    </div>
                </form>
                    </div>
                </div>  
            @using (Html.BeginForm("SaveOrUpdateClosingInfo", "ProductionQueue", FormMethod.Post, new { @class = "modal-form", id = "ClosingForm" }))
             {
                  @Html.HiddenFor(m=>m.TaskInstanceId)
                  @Html.HiddenFor(m => m.CostCertRecievedDate, new { id = "txtCostCertRecievedDate" })
                  @Html.HiddenFor(m => m.CostCertIssueDate, new { id = "txtCostCertIssueDate" })
                  @Html.HiddenFor(m => m.Two90CompletedDate, new { id = "txtTwo90CompletedDate" })
                  @Html.HiddenFor(m => m.NCREDueDate, new { id = "txtNCREDueDate" })                                     
                  <div class="col-lg-6" style="margin-left: -131px;width:62%">
                <h6>Add/Edit Closing Info</h6>
                <fieldset>
                    <div class="form-group">
                        <div class="control-label col-sm-5">
                            @Html.LabelFor(m => m.IsCloserContractor, "Has Contract Closer Assigned?")
                        </div>
                        <div class="col-sm-4">
                            @if (Model.IsCloserContractor)
                            {
                                <span>
                                @Html.CheckBoxFor(m => m.IsCloserContractor, new { @checked = "checked", disabled = true, @style = "width:20px;margin-left:10px;" }) Yes

                            </span>
                            }
                            else
                            {
                                <span>

                                @Html.CheckBoxFor(m => m.IsCloserContractor, new { @checked = "checked", disabled = true, @style = "width:20px;margin-left:10px;" }) No

                            </span>
                            }                           
                        </div>

                    </div>
                      @if (Model.IsCloserContractor)
                            {
                              <div class="form-group" id="div_contracorInfo" >
                               <div class="control-label col-sm-5">
                                 @Html.LabelFor(m => m.ContractorContactName, "Contractor Contact Information:")
                               </div>
                           <div class="col-sm-5">
                              @Html.TextBoxFor(m => m.ContractorContactName, new {disabled=true, @class = "form-control",title=this.Model.ContractorContactName})
                           </div>
                         </div>
                      }
                    <div class="form-group">
                        <div class="control-label col-sm-5">
                            @Html.LabelFor(m => m.ClosingProgramSpecialistId, "Program Specialist:")
                        </div>
                      <div class="col-sm-5">
                          @Html.DropDownList("ClosingProgramSpecialistId", null, new { @class = "form-control", id = "ClosingProgramSpecialistId" })
                          @*<select id="ContractorRoleId" class="form-control"></select>*@ 
                        </div>
                    </div>
                    <div class="form-group margintop">
                        <div class="control-label col-sm-5">
                            @Html.LabelFor(m => m.ClosingAEId, "Account Excutives:")
                        </div>
                        <div class="col-sm-5">
                            @Html.DropDownList("ClosingAEId", null, new { @class = "form-control", id = "ClosingAEId" })                         
                        </div>
                    </div>
                    <div class="form-group margintop">
                        <div class="control-label col-sm-5">
                            @Html.LabelFor(m => m.ClosingCloserId, "Closer:")
                        </div>
                        <div class="col-sm-5">
                            @Html.DropDownList("ClosingCloserId", null, new { @class = "form-control", id = "ClosingCloserId" })                         
                        </div>
                    </div>
                    <div class="form-group margintop">
                        <div class="control-label col-sm-5">
                            @Html.LabelFor(m => m.InitialClosingDate, "Initial Closing Date:")
                        </div>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(m => m.InitialClosingDate, "{0:MM/dd/yyyy}", new { @class = "datepicker form-control" })
                            
                        </div>
                        <div class="col-sm-4">
                            @if (Model.ClosingDateCreatedOn != null)
                            {
                                @Html.LabelFor(m => m.ClosingDateCreatedOn, "Created On:")
                                @Html.DisplayFor(m => m.ClosingDateCreatedOn, "{0:MM/dd/yyyy}")
                            }
                            @if (Model.ClosingDateModifiedOn != null)
                            {
                                @Html.LabelFor(m => m.ClosingDateModifiedOn, "Modified On:")
                                 @Html.DisplayFor(m => m.ClosingDateModifiedOn, "{0:MM/dd/yyyy}")
                            }
                            
                        </div>
                    </div>
                    <div class="form-group margintop">
                        <div class="control-label col-sm-5">
                            @Html.LabelFor(m => m.ClosingPackageRecievedDate, "Date Closing Package Received :")
                        </div>
                        <div class="col-sm-5">
                            @Html.TextBoxFor(m => m.ClosingPackageRecievedDate, "{0:MM/dd/yyyy}", new { @class = "datepicker form-control" })
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="control-label col-sm-5">
                            @Html.LabelFor(m => m.IsCostCertRecieved, "Has Cost Cert been Recieved?")
                        </div>
                        <div class="col-sm-4">
                            <span>
                                <label>Yes</label>
                                <span>
                                    @Html.RadioButtonFor(m => m.IsCostCertRecieved, true, new { @id = "isCostReceievedYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                                </span>
                            </span>
                            <span>
                                <label>No</label>
                                <span>
                                    @Html.RadioButtonFor(m => m.IsCostCertRecieved, false, new { @id = "isCostReceievedNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                                </span>
                            </span>
                        </div>
                        <div class="col-sm-1" style="margin-top: -15px; margin-left: -64px; width: 22.333333%; ">
                            <label>Date Recieved</label>
                            @Html.TextBoxFor(m => m.CostCertRecievedDate, "{0:MM/dd/yyyy}", new { disabled = true, @class = "datepicker form-control", @style = "width:190px;" })
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-5">
                            @Html.LabelFor(m => m.IsCostCertCompletedAndIssued, "Is Cost Cert Completed & MIM Issued?")
                        </div>
                        <div class="col-sm-4 ">

                            <span>
                                <label>Yes</label>
                                <span>

                                    @Html.RadioButtonFor(m => m.IsCostCertCompletedAndIssued, true, new { @id = "isCostCompletedYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                                </span>
                            </span>  
                            <span>
                                <label>No</label>
                                <span>

                                    @Html.RadioButtonFor(m => m.IsCostCertCompletedAndIssued, false, new { @id = "isCostCompletedNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                                </span>
                            </span>
                        </div>
                        <div class="col-sm-1" style="margin-top: -15px; margin-left: -64px; width: 22.333333%; ">
                            <label>Date Issued</label>
                            @Html.TextBoxFor(m => m.CostCertIssueDate, "{0:MM/dd/yyyy}", new { disabled = true, @class = "datepicker form-control", @style = "width:190px;" })
                        </div>
                    </div>  

                    <div class="form-group">
                        <div class="control-label col-sm-5">
                            @Html.LabelFor(m => m.Is290Completed, "Has 290 been Completed?")
                        </div>
                        <div class="col-sm-4 ">
                            <span>
                                <label>Yes</label>
                                <span>
                                    @Html.RadioButtonFor(m => m.Is290Completed, true, new { @id = "is290CompletedYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                                </span>
                            </span>
                            <span>  
                                <label>No</label>
                                <span>
                                    @Html.RadioButtonFor(m => m.Is290Completed, false, new { @id = "is290CompletedNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                                </span>
                            </span>     
                            
                        </div>
                        <div class="col-sm-1" style="margin-top: -15px; margin-left: -64px; width: 22.333333%; ">
                            <label>Date Completed</label>
                            @Html.TextBoxFor(m => m.Two90CompletedDate, "{0:MM/dd/yyyy}", new { disabled = true, @class = "datepicker form-control", @style = "width:190px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-5">
                            @Html.LabelFor(m => m.IsActiveNCRE, " Active Non Critical Repair Escrow?")
                        </div>
                        <div class="col-sm-4">
                            <span>
                                <label>Yes</label>
                                <span>
                                    @Html.RadioButtonFor(m => m.IsActiveNCRE, true, new { @id = "isActiveNCREYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                                </span>
                            </span>
                            <span>
                                <label>No</label>
                                <span>
                                    @Html.RadioButtonFor(m => m.IsActiveNCRE, false, new { @id = "isActiveNCRENo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                                </span>
                            </span> 
                        </div>
                        <div class="col-sm-1" style="margin-top: -15px; margin-left: -64px; width: 22.333333%; ">
                            <label>Date NCRE Due:</label>
                            @Html.TextBoxFor(m => m.NCREDueDate, "{0:MM/dd/yyyy}", new { disabled = true, @class = "datepicker form-control", @style = "width:190px;" })
                        </div>   
                     
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-5">
                            @Html.LabelFor(m => m.NCREInitalBalance, " NCRE Initial Balance")
                        </div>
                        <div class="col-sm-4 ">
                            @Html.TextBoxFor(m => m.NCREInitalBalance, new { @class = "form-control", @style = "width:150px;" })
                        </div>

                    </div>

                    <div class="col-lg-offset-2" style="margin-left: 280px; margin-top: 5px;">
                        <button class="btn btn-default" type="submit">Save Changes</button>
                        @*<button class="btn-default" type="button" aria-hidden="true">Cancel</button>*@

                    </div>
                    </fieldset>
</div>        
            }

                 
        </fieldset>
    </div>

}
else
{
 <div class="alert alert-info">
    <strong>Info!</strong> Closer Is not assigned for this Process. Information will be available once Closer is assigned for the selected processes
</div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").datepicker();
        loadinfo();
        //$(':radio[name=IsCloserContractor]').change(function () {
        //    var closerContracor = $(':radio[name=IsCloserContractor]:checked').val();

        //    if (closerContracor=="True") {
        //        $("#div_contracorInfo").show();
        //    }
        //    else {
        //       $("#div_contracorInfo").hide();
        //    }
        //});

        $(':radio[name=IsCostCertRecieved]').change(function () {
            var costRecieved = $(':radio[name=IsCostCertRecieved]:checked').val();
            if (costRecieved == "True") {
                $("#CostCertRecievedDate").removeAttr("disabled");
            } else {

                $('#CostCertRecievedDate').attr("disabled", "disabled");
            }
        });


        $(':radio[name=IsCostCertCompletedAndIssued]').change(function () {
            var costIssued = $(':radio[name=IsCostCertCompletedAndIssued]:checked').val();
            if (costIssued == "True") {
                $("#CostCertIssueDate").removeAttr("disabled");
            } else {

                $('#CostCertIssueDate').attr("disabled", "disabled");
            }
        });


        $(':radio[name=Is290Completed]').change(function () {
            var completedDate = $(':radio[name=Is290Completed]:checked').val();
            if (completedDate == "True") {
                $("#Two90CompletedDate").removeAttr("disabled");
            } else {

                $('#Two90CompletedDate').attr("disabled", "disabled");
            }
        });


        $(':radio[name=IsActiveNCRE]').change(function () {
            var ncreDueDate = $(':radio[name=IsActiveNCRE]:checked').val();
            if (ncreDueDate == "True") {
                $("#NCREDueDate").removeAttr("disabled");
            } else {

                $('#NCREDueDate').attr("disabled", "disabled");
            }
        });

        var reviewer = '@Model.IsAssigned';
        var reviewerAssigned = $('#txtIsAssigned').val();
        var isAssigned = $('#' + reviewer + 'IsAssigned').val();
        var isNotAssigned = $('#' + reviewer + 'IsAssignedFalse').val();

        if (reviewerAssigned === "True") {
            $('#' + reviewer + 'IsAssigned').prop('checked', true);

        } else {
            $('#' + reviewer + 'IsAssignedFalse').prop('checked', true);
        }

        function validateClosingForm() {

            //var closerContracor = $(':radio[name=IsCloserContractor]:checked').val();
            //var contractorName = $("#ContractorContactName").val();
            //if (closerContracor == "True" && contractorName == "") {
            //    alert("Please Enter Contractor Name!");
            //    return false;
            //} else

            if ($(':radio[name=IsCostCertRecieved]:checked').val() == "True" && $("#CostCertRecievedDate").val() == "") {
                alert("Please Enter Cost Cert Recieved Date!");
                return false;
            }
            else if ($(':radio[name=IsCostCertCompletedAndIssued]:checked').val() == "True" && $("#CostCertIssueDate").val() == "") {
                alert("Please Enter Cost Cert Issued Date!");
                return false;
            }
            else if ($(':radio[name=Is290Completed]:checked').val() == "True" && $("#Two90CompletedDate").val() == "") {
                alert("Please Enter 290 Completed Date!");
                return false;
            }
            else if ($(':radio[name=IsActiveNCRE]:checked').val() == "True" && $("#NCREDueDate").val() == "") {
                alert("Please Enter NCRE due Date!");
                return false;
            }
            return true;
        }
        $(".commentForm").submit(function (e) {

            e.preventDefault();
            var formId = '@Model.Reviewertype';
            var activeTab = $('.nav-pills .active').text();
            var subFormId = formId.substring(3, 0);
            var subActiveTab = activeTab.replace(/\W/g, '');
            //compare formId with active tab name
            if (subFormId == subActiveTab.substring(3, 0)) {
                var taskXrefId = '@Model.TaskInstanceId';

                addComment(taskXrefId, formId);
            }

        });

        $("#ClosingForm").submit(function (e) {
            e.preventDefault();
            $("#txtCostCertRecievedDate").val($('#CostCertRecievedDate').val())
            $("#txtCostCertIssueDate").val($('#CostCertIssueDate').val())
            $("#txtTwo90CompletedDate").val($('#Two90CompletedDate').val())
            $("#txtNCREDueDate").val($('#NCREDueDate').val())
            $("#TaskInstanceId").val($('#ProdAppTypeId').val());
            var result = validateClosingForm();
            if (result) {
                var url = '@Url.Action("SaveOrUpdateClosingInfo", "ProductionQueue")';
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: $('#ClosingForm').serialize(),
                    success: function () {
                        //alert("Success");
                    },
                    error: function (data) {
                        alert("Error");
                    },

                });
            }

        });
        function loadinfo() {
            //if ($(':radio[name=IsCloserContractor]:checked').val() == "True")
            //    $("#div_contracorInfo").show();
            if ($(':radio[name=IsCostCertRecieved]:checked').val() == "True")
                $("#CostCertRecievedDate").removeAttr("disabled");
            if ($(':radio[name=IsCostCertRecieved]:checked').val() == "True")
                $("#CostCertIssueDate").removeAttr("disabled");
            if ($(':radio[name=Is290Completed]:checked').val() == "True")
                $("#Two90CompletedDate").removeAttr("disabled");
            if ($(':radio[name=IsActiveNCRE]:checked').val() == "True")
                $("#NCREDueDate").removeAttr("disabled");
        }
        function addComment(id, formId) {

            var name = formId + "comment";
            var comment = $('#' + name).val();
            var oldComment = $('#' + formId + "oldComment");


            if (comment != '') {
                var url = '@Url.Action("UpdateComment", "ProductionQueue")';
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { taskInstacneId: id, reviwerType: '@((Int32)ProductionView.ContractCloser)', comment: comment },
                    success: function (data) {
                        if (oldComment.val() == "") {
                            oldComment.append(comment);
                            $("#" + name).val('');
                        }

                        else {
                            oldComment.append("\n" + comment);
                            $("#" + name).val('');
                        }
                    },
                    error: function (data) {
                        alert("Error on Updating Comment");
                    },

                });
            }
        };

        $('#btnAttach').click(function (e) {
            e.preventDefault();
            $('#exTab3 a[href="#10b"]').tab('show');
            $('#AttachFiles').load('@Url.Action("GetAttachFileInfo", "ProductionQueue")', { taskInstanceId: $('#txtTaskInstanceId').val(), fileType: '@(Enum.GetName(typeof(SharepointSections), SharepointSections.closingInfo))' });
            return false;
        });
    });

</script>