﻿@using Elmah.ContentSyndication
@model PaginateSortModel<TaskModel>

<script type="text/javascript">
    $(document).ready(
function () {
    styleGrid();
    $("#dialogNotesDetail").dialog({
        title: 'Notes Detail',
        autoOpen: false,
        resizable: true,
        height: '500',
        width: '680',
        show: { effect: 'fade' },
        modal: true,
        draggable: true,
        closeOnEscape: false,
        close: function (event, ui) {
            $(this).dialog("close");
        },
        open: function (event, ui) {
            $(this).load('../Task/TaskNotesDetail', { id: g_modal_paramId });
            //Commented the below code for Bug fix : My tasks the Notes details  is not showing the close button on the right side 
            @*if ('@TempData["bShowCloseBtn"]' == "False")
                $(".ui-dialog-titlebar-close").hide();*@
        },
    });
}
);

    function styleGrid() {
        $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
        $('.webGrid').fixedHeaderTable({ height: '490', width: '1260', fixedColumn: true, footer: true, themeClass: 'fixedHeader' });
    }
</script>
@{  
    var grid = new WebGrid(canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "styleGrid");
    grid.Bind(Model.Entities, autoSortAndPage: false, rowCount: Model.TotalRows);
}
<div id="dialogNotesDetail"></div>
<div id="gridContent">
    @{
        var gridColumns = new List<WebGridColumn>();

        gridColumns.Add(grid.Column("ItemName", "Name", format: (item) => string.IsNullOrEmpty(item.ItemName) ? new MvcHtmlString(String.Empty) : Html.ActionLink(((object)item.ItemName) + (string.IsNullOrEmpty(item.FHANumber) ? "" : " (" + ((object)item.FHANumber).ToString() + ")"), "GetTaskDetail", "Task", new { id = item.TaskId, fromTaskReAssignment = false, reAssignedTo = string.Empty, @style = "text-decoration:underline" }, null)));
       // gridColumns.Add(grid.Column("TaskName", "Action", style: "description"));


        gridColumns.Add(grid.Column("TaskName", "Action", format: (item) =>
        {
            if (item.IsChild) return Html.Raw(item.TaskName + " - (RAI)");
            else return Html.Raw(item.TaskName);
            /*
            if (item.TaskName == "Non Critical Repair - Complete")
            {
                return Html.Raw(item.TaskName);
            }
            else if (item.TaskName == "Reserve For Replacement Complete")
            {
                return Html.Raw(item.TaskName);
            }
            else if (item.TaskName == "Non Critical Request Extension Completed")
            {
                return Html.Raw(item.TaskName);
            }
            else if (item.TaskName == "Non Critical Repair – In-Process")
            {
                return Html.Raw(item.TaskName);
            }
            else if (item.TaskName == "Reserve For Replacement In-Process")
            {
                return Html.Raw(item.TaskName);
            }
            else if (item.TaskName == "Non Critical Request Extension In-Process")
            {
                return Html.Raw(item.TaskName);
            }
            else
            {
                if (item.IsChild == true)
                {
                    return Html.Raw(item.TaskName + "-(RAI)");
                }
                return Html.Raw(item.TaskName);
            }
             */
       }


        ));
        gridColumns.Add(grid.Column("Status", "Status", format: (item) =>
        {
            if (item.Status == FormUploadStatus.Done)
            {
                return Html.Raw("<img src=\"../Content/images/stop.png\" />");
            }
            if (item.Status == FormUploadStatus.AssignedToOther)
            {
                return Html.Raw("<img src=\"../Content/images/pause.png\" />");
            }
            return Html.Raw("<img src=\"../Content/images/play.png\" />");
        }
            ));
        gridColumns.Add(grid.Column("MyStartTime", "Last Updated Time", style: "description"));
        gridColumns.Add(grid.Column("AssignedBy", "Assigned By", style: "description"));
        gridColumns.Add(grid.Column("AssignedTo", "Assigned To", style: "description"));
        gridColumns.Add(grid.Column("Notes", "Current Notes", format: (item) => string.IsNullOrEmpty(item.Notes) ? new MvcHtmlString(String.Empty) : HtmlHelperExt.PopupLink("dialogNotesDetail", HtmlHelperExt.TruncateToString(((object)item.Notes).ToString(), 30), item.TaskInstanceId.ToString(), item.Notes)));
        gridColumns.Add(grid.Column("Notes", "Historic Notes", format: (item) => HtmlHelperExt.PopupImageLink("dialogNotesDetail", "Notes History", item.TaskInstanceId.ToString(), "/Content/images/comments.png", "Notes History")));
        //hiding the due date column - user story 589
        //gridColumns.Add(grid.Column("DueDate", "Due Date", style: "description"));
        gridColumns.Add(grid.Column("HasOpenedByMe", "Has Opened", style: "description"));
        gridColumns.Add(grid.Column("Duration", "Duration", format: (item) =>
        {
            if (item.Status == FormUploadStatus.Done)
            {
                return Html.Raw("<label>Complete (" + (item.CompletedStartTime.Date - item.WaitingStartTime.Date).Days + " days)</label>");
            }
            return Html.Raw("<label>In Process (" + (DateTime.UtcNow.Date - item.WaitingStartTime.Date).Days + " days)</label>");
        }
        ));

        gridColumns.Add(grid.Column("IsChild", "Relation", format: (item) =>
        {

            if (item.TaskName == "Non Critical Repair - Complete")
            {
                return Html.Raw("<label>NA</label>");
            }
            else if (item.TaskName == "Reserve For Replacement Complete")
            {
                return Html.Raw("<label>NA</label>");
            }
            else if (item.TaskName == "Non Critical Request Extension Completed")
            {
                return Html.Raw("<label>NA</label>");
            }
            else if (item.TaskName == "Non Critical Repair – In-Process")
            {
                return Html.Raw("<label>NA</label>");
            }
            else if (item.TaskName == "Reserve For Replacement In-Process")
            {
                return Html.Raw("<label>NA</label>");
            }
            else if (item.TaskName == "Non Critical Request Extension In-Process")
            {
                return Html.Raw("<label>NA</label>");
            }
            else
            {
                if (item.IsChild == true)
                {
                    return Html.Raw("<label>Child</label>");
                }
                return Html.Raw("<label>Parent</label>");
            }
            
               }
       ));
        
    }
    @if (Model.Entities.Any())
    {
        @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header_row",
                rowStyle: "item_row",
                alternatingRowStyle: "item_alt_row",
                selectedRowStyle: "select",
               mode: WebGridPagerModes.All,
               firstText: "<< First",
               previousText: "< Prev",
               nextText: "Next >",
               lastText: "Last >>",

                columns: gridColumns.ToArray())
    }
    else
    {
        <p style="margin-left:20px;">@(string.IsNullOrEmpty(ViewBag.EmptyMessage) ? "No data found." : @ViewBag.EmptyMessage)</p>
    }
</div>
@*@section Styles {
        <link href="@Url.Content("~/Content/webGrid.css")" rel="stylesheet" type="text/css" />
    }*@