﻿@*User Story 1904*@
@using Core
@using HUDHealthcarePortal.BusinessService
@model Model.Production.ProductionReasignReportModel
        @{
            ViewBag.Title = "Search";

        }


<!-- Add all Page Specific CSS files here -->
<!-------------------------------------------------------------------------------------------------------------------------- -->
@*<link href="~/Scripts/jquery-multiSelect/jquery.multiselect.css" rel="stylesheet" type="text/css" />*@
<link href="~/Scripts/jquery-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/jquery-multiselect/Bootstrap.multiselectV2.js"></script>
<!-------------------------------------------------------------------------------------------------------------------------- -->

<style type="text/css">
    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
</style>
<div  class="container-fluid">
    <div  class="row" style="margin-left: 4px; margin-right: 0px">
        @*<div id="fadeoutdiv" class="container-fluid" >
            <div class="row alert alert-success fade in alert-dismissable">

                <span class="col-md-4  text-left">
                    @Html.DisplayName(EnumType.GetEnumDescription(Model.ReportType))
                </span>
            </div>
        </div>*@

        <div class="container-fluid">
            <div class="row" style="padding: 5px;">
                <span class="col-md-4 text-left">
                    @Html.Label("Production Users: ")
                </span>
                <span class="col-md-4 text-left">
                    @*@Html.ListBox("lstProdUser", Model.ProductionUsers, new { multiple = "multiple", name = "lstProdUser" })*@
                    @Html.DropDownListFor(m => m.ProductionUsers, Model.ProductionUsers, "Select Production User", new { id = "lstProdUser" })
                </span>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row" style="padding: 5px;">
                <span class="col-md-4 text-left">
                    @Html.Label("Production Type: ")
                </span>
                <span class="col-md-4 text-left">
                    @Html.ListBox("lstPageType", Model.ProductionPageTypes, new { multiple = "multiple", name = "lstPageType" })
                </span>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row" style="padding: 5px;">
                <span class="col-md-4 text-left">
                    @Html.Label("Project Loan Type: ")
                </span>
                <span class="col-md-4 text-left">
                    @Html.ListBox("lstProgramType", Model.ProductionProjecTypeList, new { multiple = "multiple", name = "lstProgramType" })
                </span>
            </div>
        </div>



        <div class="container-fluid">
            <div class="row" style="padding: 5px;">
                <span class="col-md-4 text-left">
                    @Html.Label("From Date: ")&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(m => m.FromDate, new { @class = "datePickerTextBox", @id = "datePickerMinUploadDate", @name = "minUploadDate" })
                </span>
                <span class="col-md-2 text-left">
                    @Html.Label("To Date: ")&nbsp;&nbsp;@Html.TextBoxFor(m => m.ToDate, new { @class = "datePickerTextBox", @id = "datePickerMaxUploadDate", @name = "maxUploadDate" })
                </span>
                <span class="col-md-2 text-right">
                    <input id="btnSearch" type="button" class="form-control" value="Search">
                </span>
            </div>
            @*<div class="row" style="margin-left:20px;width: 1200px;">
                    <span style="float: right; margin-left: 80px">
                        <a id="ExclIcon" class="excelExport" href="@Url.Action("ExportProdPAMReport", "ExcelExport")"><img alt="Export to Excel" src="/Images/icon_excelBg.jpg"></a>
                    </span>

                </div>*@
        </div>

    </div>
</div>

<script>
    var settingsObject = @Html.Raw(Json.Encode(ViewBag));
</script>
<script>
    var PLMProdReport = (function () {
        var progChange = false;
        var settings = window.settingsObject;
        var listBoxToString = function (listBox, all) {
            //  debugger;
            if (typeof listBox === "string") {
                listBox = document.getElementById(listBox);
            }

            if(listBox == null) {return "";}

            if (!(listBox || listBox.options)) {
                throw Error("No options");
            }
            var options = [], opt;
            for (var i = 0, l = listBox.options.length; i < l; ++i) {
                opt = listBox.options[i];
                if (all || opt.selected) {
                    options.push(opt.value);
                }
            }
            return options.join(",");
        };

        var listboxText = function (listBox, all) {
            // debugger;
            if (typeof listBox === "string") {
                listBox = document.getElementById(listBox);
            }

            if(listBox == null) {return "";}

            if (!(listBox || listBox.options)) {
                throw Error("No options");
            }
            var options = [], opt;
            for (var i = 0, l = listBox.options.length; i < l; ++i) {
                opt = listBox.options[i];
                if (all || opt.selected) {
                    options.push(opt.text);
                }
            }
            return options.join(",");
        };



        return {
            InitView: function () {
                $("#lstPageType").multiselect({
                    nonSelectedText: 'Select Production Type'
                    , minWidth: 250
                    , selectedList: 1
                    , enableCaseInsensitiveFiltering: true
                    , filterPlaceholder: 'Search'
                    , maxHeight: 400
                    , includeSelectAllOption: true
                    , onSelectAll: function () {
                        // debugger;
                        //var arr = listboxText('lstProgramType', true);
                        //var array = arr.split(',');
                        //for (var i = 0; i < array.length; i++) {
                        //    $("#lstProgramType").multiselect('select', array[i]);
                        //}
                        //PLMProdReport.RefreshBasedOnPageType();
                    }
                    ,onDeselectAll: function (checked) {
                       // PLMProdReport.RefreshBasedOnPageType();
                    }
                    ,onChange: function(checked) {
                        // debugger;
                       // PLMProdReport.RefreshBasedOnPageType();
                    }
                });

                $("#lstProgramType").multiselect({
                    nonSelectedText: 'Select Project Loan Type'
                    ,minWidth: 250
                    , selectedList: 1
                    , enableCaseInsensitiveFiltering: true
                    , filterPlaceholder: 'Search'
                    ,maxHeight: 400
                    ,includeSelectAllOption: true
                });

                //$("#lstProdUser").multiselect({
                //    nonSelectedText: 'Select Production User'
                //    , minWidth: 250
                //    , selectedList: 1
                //    , enableCaseInsensitiveFiltering: true
                //    , filterPlaceholder: 'Search'
                //    ,maxHeight: 400
                //    ,includeSelectAllOption: true
                //});

                $("#lstStatus").multiselect({
                    nonSelectedText: 'Select Status'
                    , minWidth: 250
                    , selectedList: 1
                    , enableCaseInsensitiveFiltering: true
                    , filterPlaceholder: 'Search'
                    ,maxHeight: 400
                    ,includeSelectAllOption: true
                });


                $('.datePickerTextBox').datepicker();

                var _minUploadDate = $('#datePickerMinUploadDate').val();
                var _maxUploadDate = $('#datePickerMaxUploadDate').val();
                $('#datePickerTextBox').attr('readonly', true);

                $('#datePickerMinUploadDate').change(function () {

                    var date = $(this).val();
                    _minUploadDate = ValidateDateSelected(date, _minUploadDate);
                    $(this).val(_minUploadDate);
                    $('.linkableField').each(function () {
                        this.href = this.href.replace('_minUploadDateField', _minUploadDate);
                    });
                });
                $('#datePickerMinUploadDate').attr('readonly', true);
                $('#datePickerMaxUploadDate').change(function () {

                    var date = $(this).val();
                    _maxUploadDate = ValidateDateSelected(date, _maxUploadDate);
                    $(this).val(_maxUploadDate);
                    $('.linkableField').each(function () {
                        this.href = this.href.replace('_maxUploadDateField', _maxUploadDate);
                    });
                });
                $('#datePickerMaxUploadDate').attr('readonly', true);
                function ValidateDateSelected(date, prevDate) {
                    var arrDate = date.split("/");
                    var today = new Date();
                    var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);

                    if (userSelectedDate > today) {
                        alert('Date must not be in the future.');
                        return prevDate;
                    } else {
                        return date;
                    }
                };

                $('#ExclIcon').click(function(element) {
                    debugger;
                    var pageTypeIds=listBoxToString('lstPageType', false);
                    var programTypeIds=listBoxToString('lstProgramType', false);
                    var prodUserIds=listBoxToString('lstProdUser', false);
                    var stausIds=listBoxToString('lstStatus', false);
                    var _minUploadDate = $('#datePickerMinUploadDate').val();
                    var _maxUploadDate = $('#datePickerMaxUploadDate').val();
                    var test;

                    var url= "/ExcelExport/ExportProdPAMReport?appType=" + pageTypeIds + "&programType=" + programTypeIds + "&prodUserIds=" + prodUserIds + "&fromDate=" + _minUploadDate +   "&toDate=" + _maxUploadDate + "&status=" + stausIds + "";
                    $('#ExclIcon').attr("href", url);



                });


                $('#btnSearch').click(function(element) {
                    //debugger;
                    selectedRows={};
                    if ($('#lstProdUser').val() == "") {
                        alert('Please select a User');
                        return false;
                    }
                    
                   // alert(s);
                    var pageTypeIds=listBoxToString('lstPageType', false);
                    var programTypeIds=listBoxToString('lstProgramType', false);
                    var prodUserIds=listBoxToString('lstProdUser', false);
                    var stausIds=listBoxToString('lstStatus', false);
                    var _minUploadDate = $('#datePickerMinUploadDate').val();
                    var _maxUploadDate = $('#datePickerMaxUploadDate').val();
                    // var applicationType = $('input[name=hasAcceptedAgreement]:checked').val();

                    //if (stausIds == '') {
                    //    alert("Please select at least one Status.");
                    //    return false;
                    //}

                    //if (programTypeIds == '') {
                    //    alert("Please select at least one Project Action.");
                    //    return false;
                    //}



                    $("#spinner").attr('class', 'overlay');

                    if (Date.parse(_minUploadDate) > Date.parse(_maxUploadDate)) {
                        alert("From Date Can Not be greater than To Date");
                    } else {
                        jQuery("#ReassignGrid").jqGrid().setGridParam({ url: '@Url.Action("GetTReassignTasks", "ProdTaskReassignment")', datatype: 'json', postData:
                            { appType: pageTypeIds,programType:programTypeIds,prodUserIds: prodUserIds, fromDate: _minUploadDate, toDate: _maxUploadDate,search:true }
                        }).trigger("reloadGrid");

                    }

                });

                //Code for show and Hide

                //$("#lstProdUser").change(function () {
                //    debugger;
                //    $("#assignProdUserlst").children('option').removeAttr('disabled').show();
                //    $("#assignProdUserlst").children("option[value^=" + $(this).val() + "]").attr('disabled', 'disabled').hide();



                //})  

                var optionList = null;
                $(function(){
                    if (!optionList)
                    {
                        optionList = new Array();
                        $("[id$='assignProdUserlst'] option").each(function () {
                            optionList.push({value: $(this).val(), text: $(this).text(), filterID: $(this).data("filterid") }); 
                        });
                    } 

                    $("[id$='lstProdUser']").on("change", function (e) {
                       // debugger;
                        var filterID = $(this).val();
                        $("[id$='assignProdUserlst']").html("");

                        $.each(optionList, function () {
                            if (this.value !=filterID)
                                $("[id$='assignProdUserlst']").append($("<option></option>").val(this.value).html(this.text).data("filterid", this.value));
                        });


                    });

                })
            },

            RefreshBasedOnPageType: function () {
                var pageTypeIds = listBoxToString('lstPageType', false);

            var data ={

                Value: pageTypeIds};
                // Get the data from the single request
            $.ajax({
                url:settings.GetProjectTypesByAppTypeAction,
                data: data,
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                cache: false,
                success: function (response) {
                    //debugger;
                    PLMProdReport.RepopulateProgramType(response);
                },
                error: function (xhr) {
                    // TODO: alert the user about the error
                }
            });
            },

            RepopulateProgramType: function (response) {
                //debugger;
                // Clear the existing list box
                    if (response.data == '')
                    {
                        $("#lstProgramType").empty();
                        $("#lstProgramType").append('<option value="" disabled > No Program Types Available </option>');
                        $("#lstProgramType").multiselect("rebuild");

                    }
                    else{
                        $("#lstProgramType").empty();

                        for (var i = 0; i < response.data.length; i++) {
                            $("#lstProgramType").append('<option value="' + response.data[i].Key+ '"selected= "selected">'   + response.data[i].Value+ '</option>');
                        }
                        $("#lstProgramType").multiselect("rebuild");
                        $('button[class*=multiselect]').css('width', '200px');
                        $('input[type=checkbox]').css("float", "none");
                    }
            }
        }

    }());

    $(document).ready(function () {

        PLMProdReport.InitView();
       // $("#fadeoutdiv").fadeOut(8000);
        //debugger;

        //var selectedRoles = $("#RoleList option:selected").text();

       /* $('#LAMList').multiselect('disable');
        $('#BAMList').multiselect('disable');
        $('#LARList').multiselect('disable');


        if (selectedRoles.indexOf("LAM") >= 0){
            $('#LAMList').multiselect('enable');
        }
        if (selectedRoles.indexOf("LAR") >= 0){
            $('#LARList').multiselect('enable');
        }
        if (selectedRoles.indexOf("BAM") >= 0){
            $('#BAMList').multiselect('enable');
        }*/
        $('button[class*=multiselect]').css('width', '200px');

        $('input[type=checkbox]').css("float", "none");


        //$('.ui-multiselect ui-widget ui-state-default ui-corner-all btn-text-color-fix ui-state-active ui-state-hover').css('width', '200px');
    });



</script>