﻿@model HUDHealthcarePortal.Model.ProjectActionViewModel 

@{
    ViewBag.Title = "Project Action Request Form";
}

 <script type="text/javascript" src="/Scripts/autoNumeric.js"></script>
<link href="../../Content/formUpload.css" rel="stylesheet">
<style type="text/css">
    .ui-dialog .ui-dialog-title {
        text-align: center;
        width: 100%;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .background {
        background-color: #eee;
    }

    span.error {
        color: #e80c4d;
        font-weight: bold;
    }

    input[type="radio"] {
        width: 20px;
    }

    label.required:after {
        content: " *";
        color: red;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }
</style>

<section id="projectactionform" style="width: 1300px; height: 1150px;">

    <div id="dialogCommon"></div>
    <div id="paform">
        @using (Html.BeginForm("SubmitForm", "ProjectActionRequest", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "projectActionFrm" }))
    {
            @Html.HiddenFor(m => m.FhaNumber, new { id = "FhaNumber" })
            @Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })
            @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
            @Html.HiddenFor(m => m.GroupTaskId, new { id = "GroupTaskId" })
            @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
            @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
            @Html.HiddenFor(m => m.ModifiedBy, new { id = "UpdatedBy" })
            @Html.HiddenFor(m => m.CreatedBy, new { id = "CreatedBy" })
            @Html.HiddenFor(m => m.CreatedOn, new { id = "CreatedOn" })
            @Html.HiddenFor(m => m.ModifiedOn, new { id = "UpdatedOn" })
            @Html.HiddenFor(m => m.RequestStatus, new { id = "RequestStatus" })
            @Html.HiddenFor(m => m.IsReassigned, new { id = "IsReassigned" })
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">   </span>
                    <span class="col-md-4 text-left"> <h4><b>&nbsp;&nbsp;&nbsp;Project Action Request Form</b></h4> </span>
                </div>
            </div> 
                        <div class="container-fluid">
                            <div class="row">
                                <span class="col-md-4 text-right required">
                                    @Html.Label("FHA Number", new { @class = "required" })
                                </span>
                                <span class="col-md-4">
                                    <input type="text" id="ddlFHANumbers" value="@Model.FhaNumber" class="updateableFields" />
                                </span>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div class="row">
                                <span class="col-md-4 text-right">
                                    @Html.Label("Property Name")
                                </span>
                                <span class="col-md-4">
                                    @Html.TextBoxFor(model => model.PropertyName, new { id = "txtPropertyName", title = "Property Name", @style = "background: #eee", @readonly = "true" })
                                    @Html.ValidationMessageFor(model => model.PropertyName)
                                </span>
                            </div>
                        </div>

                        <div class="container-fluid" style="padding-top: 15px">
                            <div class="row">
                                <span class="col-md-4 text-right">
                                    @Html.Label("Date of Request", new { @class = "required" })
                                </span>
                                <span class="col-md-4">
                                    @Html.TextBoxFor(model => model.RequestDate, "{0:MM/dd/yyyy}", new { @id = "requestDate", @class = "datepicker" })
                                    @Html.ValidationMessageFor(model => model.RequestDate)
                                </span>
                            </div>
                        </div>


                        <div class="container-fluid" style="padding-top: 15px">
                            <div class="row">
                                <span class="col-md-4 text-right">
                                    @Html.Label("Requester's Name")
                                </span>
                                <span class="col-md-4">
                                    @Html.TextBoxFor(model => model.RequesterName, new { @style = "background: #eee", @readonly = "true" })
                                </span>
                            </div>
                        </div>

                        <div class="container-fluid" style="padding-top: 15px">
                            <div class="row">
                                <span class="col-md-4 text-right">
                                    @Html.Label("Date of Servicer's Submission")
                                </span>
                                <span class="col-md-4">
                                    @Html.TextBoxFor(model => model.ServicerSubmissionDate, "{0:MM/dd/yyyy}", new { @style = "background: #eee", @readonly = "true" })
                                </span>
                            </div>
                        </div>
                        <div class="container-fluid" style="padding-top: 15px">
                            <div class="row">
                                <span class="col-md-4 text-right">
                                    @Html.Label("Project Action Request Type", new { @class = "required" })
                                </span>
                                <span class="col-md-4">
                                    @Html.DropDownListFor(model => model.ProjectActionTypeId, Model.ProjectActionTypeList, "Select Project Action Type", new { @id = "projectActionType" })
                                    @Html.ValidationMessageFor(model => model.ProjectActionTypeId)
                                    @Html.HiddenFor(model => model.ProjectActionTypeId, new { @id = "txtProjectActionType" })
                                </span>
                            </div>
                        </div>
                        <hr />
                        <div class="container-fluid" style="padding-top: 15px">
                            @Html.Partial("~/Views/ProjectAction/_ContactAddressInformation.cshtml")
                        </div>
                        <div class="container-fluid" style="padding-top: 15px">
                            <div class="row">
                                <span class="col-md-2 text-left" style="padding-left: 15px;">
                                    @Html.Label("Servicer Comments")
                                </span>
                                <span class="col-md-4">
                                    @Html.TextAreaFor(m => m.ServicerComments, new { @style = "height:70px;width:300px;", maxlength = "500" })
                                </span>
                            </div>
                        </div>
                        <hr />
                        <div class="container-fluid">
                            <div class="row">
                                <span class="col-md-2 text-right">
                                    @Html.CheckBoxFor(m => m.IsAgreementAccepted, new { @class = "rbFakeClass, required", @style = "width:80px;margin-left:30px;" })
                                    @Html.ValidationMessageFor(m => m.IsAgreementAccepted)
                                </span>
                                <span class="col-md-10 text-left">
                                    <label>
                                        I hereby certify that all documents and information will be processed according to the
                                        Healthcare Mortgage Insurance Program Handbook No 42321, Section 3, Chapter 3-3.2.
                                    </label>
                                </span>

                            </div>

                        </div>
                        <div class="container-fluid" style="padding-top: 15px">
                            <div class="row">
                                <span class="col-md-12 text-center">
                                    <input type="submit" name="nextBtn" value='Next' id="nextBtn" />
                                </span>
                            </div>
                        </div>


    }
</div>
                <script>
                    var autocompleteTextBox = $('#ddlFHANumbers');
                    var possibleValues = @Html.Raw(Json.Encode(Model.AvailableFHANumbersList));
                    var fhaNumberLoaded = "";
                </script>
</section>

<script src="/Scripts/Shared/autocomplete.js"></script>

<script>
    $(document).ready(function () {
        var projectActionSelected = false;
        var isAgreementChecked = false;
        //datepicker
        $('.datepicker').datepicker();

        $('#requestDate').change(function () {
            var date = $(this).val();
            var arrDate = date.split("/");
            var today = new Date();
            var minRequestDate = new Date(today.getFullYear()-1, today.getMonth(), today.getDate());
            var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);
            if (userSelectedDate > today) {
                alert('Date must not be in the future.');
                $(this).val('');
            }
            else if(userSelectedDate < minRequestDate) {
                alert('Date of request should not be older than 365 days.');
                $(this).val('');
            }
        });

        $('#projectActionType').change(function() {
            var selectedProjectAction = $('#projectActionType').val();
            if (selectedProjectAction != '' || selectedProjectAction != 0) {
                projectActionSelected = true;
                $.ajax({
                    url: '@Url.Action("CheckIfProjectActionExistsForFhaNumber", "ProjectActionRequest")',
                    data: { projectActionTypeId: selectedProjectAction, fhaNumber: $('#FhaNumber').val() },
                    type: 'GET',
                    success: function(data) {
                        {
                            if (data == 'True') {
                                alert("A request has already been made for the selected Project Action Type and FHA Number." +
                                    " Please select a different FHA Number or Project Action Type");
                                $("#nextBtn").prop("disabled", true);
                                $("#IsAgreementAccepted").prop("disabled", true);
                                return false;
                            } else {
                                $("#nextBtn").prop("disabled", false);
                                $("#IsAgreementAccepted").prop("disabled", false);
                            }
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                    }
                });
            } else {
                projectActionSelected = false;
                $("#nextBtn").prop("disabled", false);
            }
            
        });

        
        // override autocompleteTextBox.on function
        autocompleteTextBox.on('autocompleteselect', function (event, ui) {
            searchTextTyped = ui.item.value;
            autocompleteMatch(searchTextTyped, possibleValues);

            updatePropertyInfo(searchTextTyped);
        });

        autocompleteTextBox.bind('blur', function () {
            updatePropertyInfo($(this).val());
        });

    function updatePropertyInfo(selectedFHANumber) {
        if ($.inArray(selectedFHANumber, possibleValues) != -1) {
            if (fhaNumberLoaded != selectedFHANumber) {
                $.ajax({
                    url: '@Url.Action("GetPropertyInfo", "ProjectActionRequest")',
                    data: { selectedFhaNumber: selectedFHANumber, projectActionViewModel:'@Model' },
                    type: 'GET',
                    success: function(data) {
                        {
                            updateBasedOnFHA = false;
                            if (selectedFHANumber == '-1' || selectedFHANumber == '') {
                                $('#txtPropertyName').val("");
                                $('#txtPropertyId').val("");
                            } else {
                                /*$('#txtPropertyId').val(data.PropertyId);
                                $('#txtPropertyName').val(data.PropertyName);
                                $('#FhaNumber').val(selectedFHANumber);*/
                                $("#paform").html("");
                                $("#paform").html(data);
                            }
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                    }
                });
            }
        } else {
            $('#txtPropertyName').val("");
            $('#txtPropertyId').val("");
        }

        fhaNumberLoaded = selectedFHANumber;
    }

        $('#IsAgreementAccepted').change(function () {
            if (this.checked) {
                isAgreementChecked = true;
                $("#nextBtn").prop("disabled", false);
            } else {
                $("#nextBtn").prop("disabled", true);
                alert("Please accept the disclaimer");
                return false;
            }
        });
        $("#nextBtn").click(function() {
            if ($('#FhaNumber').val() == '') {
                alert("Please select an FHA Number");
                autocompleteTextBox.focus();
                return false;
            } else if ($.inArray(autocompleteTextBox.val(), possibleValues) == -1){
                alert("Please select a valid FHA Number");
                autocompleteTextBox.focus();
                return false;
            } else if ($('#requestDate').val() == '') {
                alert("Please enter Request Date");
                $('#requestDate').focus();
                return false;
            } else if (projectActionSelected == false) {
                alert("Please select Project Action Type");
                $('#projectActionType').focus();
                return false;
            }  else if (isAgreementChecked == false) {
                alert("Please accept the disclaimer");
                $('#IsAgreementAccepted').focus();
                return false;
            } 
        });

    });

</script>