﻿@using HUDHealthcarePortal.Model.ProjectAction @model HUDHealthcarePortal.Model.ProjectActionViewModel
@using HUDHealthcarePortal.Model.ProjectAction

<script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
<script src="/Scripts/jquery.fileupload.js"></script>
<script src="/Scripts/jquery.fileupload-ui.js"></script>
<script src="/Scripts/jquery.iframe-transport.js"></script>





<style>
    .specialContainer {
        display: inline-block;
        vertical-align: top;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #hold {
        display: block;
        padding: 10px 10px;
        width: 100%;
        max-height: 600px;
    }

    table#myDemoTable {
        width: 100%;
        max-height: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        background: white;
        overflow-y: scroll;
        height: 600px;
        display: block;
    }

    .content,
    .header,
    .container {
        width: 100%;
        max-height: 100%;
    }


    .header {
        color: black;
        text-align: center;
    }

    .container {
        background: white;
    }

    .sidebar {
        width: 10%;
        background: white;
        color: white;
        float: left;
    }

    .content {
        width: 90%;
        position: relative;
    }

    h4 {
        margin: 0;
    }

    #myDemoTable table {
    }

    #myDemoTable thead {
        position: absolute;
        top: 1px;
        left: 0px;
        right: 0px;
    }

    #myDemoTable tbody {
        padding: 1.3em 0px 0px;
        margin: 0px;
        display: block;
    }

    #myDemoTable tr {
        width: 100%;
        display: block;
        margin-top: -2px;
    }

    #myDemoTable th {
        position: absolute;
    }

    #myDemoTable td {
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }

    td.col2,
    td.col3,
    td.col4,
    td.col5 {
        margin-left: -4px;
    }

    .col1 {
        width: 60%;
    }

    .col2 {
        width: 12%;
    }

    .col3 {
        width: 12%;
    }

    .col4 {
        width: 12%;
    }



    #myDemoTable a {
        display: block;
        width: 75px;
    }

    .fileClass {
        width: 75px !important;
        padding: 5px !important;
    }


    /*!
       * Helpers to hide text field in type = "file", and present buttons consistently.
       */

    /* Hide the file input using opacity */
    [type=file] {
        position: absolute;
        filter: alpha(opacity=0);
        opacity: 0;
        top: -100px;
    }

        [type=file] + label {
            font-weight: bold;
            border: 1px solid #CCC;
            border-radius: 3px;
            text-align: left;
            padding: 10px;
            margin: 0;
            left: 0;
            position: relative;
        }

        [type=file] + label {
            font-weight: bold;
            text-align: center;
            border-radius: 3px;
            left: 0em;
            top: 0.5em;
            /* Decorative */
            background: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }

            [type=file] + label:hover {
                background: #3399ff;
            }

    [type=button] {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: left;
        padding: 10px;
        width: 75px;
        margin: 0;
        left: 0;
        position: relative;
    }

    [type=button] {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: center;
        font-weight: bold;
        left: 0em;
        top: 0.5em;
        /* Decorative */
        background: #333;
        color: #fff;
        border: none;
        width: 75px;
        cursor: pointer;
    }

    #myDemoTable a {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: left;
        padding: 10px;
        width: 75px;
        margin: 0;
        left: 0;
        position: relative;
        text-decoration: none;
    }

    #myDemoTable a {
        text-align: center;
        font-weight: bold;
        left: 0em;
        top: 0.5em;
        /* Decorative */
        background: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        width: 75px;
        text-decoration: none;
        width: 20em;
        height: 2em;
    }


    #divSideBar a {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: left;
        padding: 10px;
        width: 75px;
        margin: 0;
        left: 0;
        position: relative;
        text-decoration: none;
    }

    #divSideBar a {
        text-align: center;
        font-weight: bold;
        left: 0em;
        top: 0.5em;
        /* Decorative */
        background: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        width: 75px;
        text-decoration: none;
        width: 20em;
        height: 2em;
    }

        #divSideBar a:hover {
            background: #3399ff;
        }


    [type=button]:hover {
        background: #3399ff;
    }

    #myDemoTable a:hover {
        background: #3399ff;
    }
</style>
<section id="UploadCheckListform" style="width: 1200px; height: 1150px;">
    @using (Html.BeginForm("FinalSubmitForm", "ProjectActionRequest", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "projectaActionFrm" }))
    {

        @Html.HiddenFor(m => m.FhaNumber, new { id = "FhaNumber" })

        <input type="hidden" id="GroupTaskId" name="GroupTaskId" value="@Model.GroupTaskId" />
        @Html.HiddenFor(m => m.GroupTaskInstanceId, new { id = "GroupTaskInstanceId" })
        @Html.HiddenFor(m => m.ProjectActionTypeId, new { id = "ProjectActionTypeId" })
        @Html.HiddenFor(m => m.ProjectActionFormId, new { id = "ProjectActionFormId" })
        @Html.HiddenFor(m => m.GroupTaskCreatedOn, new { id = "GroupTaskCreatedOn" })
        @Html.HiddenFor(m => m.CreatedOn, new { id = "CreatedOn" })
        @Html.HiddenFor(m => m.CreatedBy, new { id = "CreatedBy" })
        @Html.HiddenFor(m => m.ModifiedBy, new { id = "ModifiedBy" })
        @Html.HiddenFor(m => m.ModifiedOn, new { id = "ModifiedOn" })
        @Html.HiddenFor(m => m.ProjectActionDate, new { id = "ProjectActionDate" })
        @Html.HiddenFor(m => m.RequestDate, new { id = "RequestDate" })
        @Html.HiddenFor(m => m.ServicerSubmissionDate, new { id = "ServicerSubmissionDate" })
        @Html.HiddenFor(m => m.PropertyName, new { id = "PropertyName" })
        @Html.HiddenFor(m => m.RequesterName, new { id = "RequesterName" })
        @Html.HiddenFor(m => m.IsAgreementAccepted, new { id = "IsAgreementAccepted" })
        @Html.HiddenFor(m => m.IsEditMode, new { id = "IsEditMode" })
        @Html.HiddenFor(m => m.ProjectActionName, new { id = "ProjectActionName" })
        @Html.HiddenFor(m => m.RequestStatus, new { id = "RequestStatus" })
        @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
        @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
        @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
        @Html.HiddenFor(m => m.MytaskId, new { id = "MytaskId" })
        @Html.HiddenFor(m => m.IsReassigned, new { id = "IsReassigned" })
        @Html.HiddenFor(m => m.ServicerComments, new { id = "ServicerComments" })
        <div style="text-align: left">

        </div>
        <div class="hold specialContainer">
            <div class="header specialContainer">

                @Html.LabelForModel(Model.ProjectActionName) <br /> Upload Check List
            </div>
            <div class="container specialContainer">

                <div id="divSideBar" class="sidebar specialContainer">

                    @*<input type="button" id="btnPrevious" value="Previous" style="width: 75px !important; padding: 5px !important" onclick="uploadCheckList.GoProjectActionRequestForm()"/>*@
                    <div style="margin-top: 15px"></div>
                    @if (Model.IsEditMode)
                    {
                        @Html.ActionLink("Save Check In", "CheckInProjectAction", new { taskId = Model.GroupTaskId }, new { style = "width: 75px !important;padding:5px!important " })
                        <div style="margin-top: 15px"></div>
                    }
                    <input type="button" id="btnSubmit" value="Submit" style="width: 75px !important; padding: 5px !important" onclick="uploadCheckList.SubmitForm()" />
                </div>
                
                <a class="accordion-expand-all" href="#">Expand all</a>/<a class="accordion-collapse-all" href="#">Collapse all</a>

                <div class="content specialContainer" id="accordion">
                    @{
                    int counter = 0;
                    QuestionViewModel previousQuestion = null;
                    }
                    @foreach (var item in Model.QuestionsWithSections.Keys)
                    {
                        <h3>Section: @item @if (@Model.QuestionsWithSections[item][0].IsNAForSection)
                                           {
                                               <input type="checkbox" />
                                           }</h3>
                        <div>
                            <table id="myDemoTable" width="100%">
                                <thead>
                                    <tr>
                                        <th width="100%" colspan="4"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var questionList in Model.QuestionsWithSections[item])
                                    {

                                        <tr>
                                            <td class="col1">
                                                <div style="padding-top: 5px; margin-left: @((questionList.Level) * 30 + 5)px;">
                                                    @if (questionList.Level == 0)
                                                    {
                                                        if (previousQuestion == null || (previousQuestion != null && previousQuestion.QuestionId != questionList.QuestionId))
                                                        {
                                                            counter++;
                                                            @Html.Raw(@counter.ToString() + "." + questionList.Question)

                                                        }
                                                        else
                                                        {
                                                            @Html.Raw("  " + questionList.Question)
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw(questionList.Question)
                                                    }
                                                    @Html.Hidden(questionList.CheckListId.ToString())
                                                    @{
                                                        previousQuestion = questionList;
                                                    }
                                                </div>

                                            </td>
                                            <td>
                                                @if (questionList.IsNARequired)
                                                {
                                                    <input type="checkbox" />
                                                }
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</section>
<script>
    var settingsObject = @Html.Raw(Json.Encode(ViewBag));
</script>
<script>
    $( function() {
        $( "#accordion" ).accordion();
        var expandLink = $('.accordion-expand-all');
        expandLink.click(function(){
            $(".ui-accordion-content").show();
        });
        //var collapseLink = $('.accordion-collapse-all');
        //collapseLink.click(function(){
        //    $(".ui-accordion-content").collapseAll();
        //});
    } );
    var uploadCheckList = (function () {
        var settings = window.settingsObject;
        return {
            InitView: function () {
                'use strict';
                $('.fileClass').fileupload({
                    autoUpload: true,
                    url: '/ProjectActionRequest/UploadFile',
                    dataType: 'json',
                    formData: {
                    },
                    add: function (e, data) {
                        var chkListId = $(this).attr("checklistid");
                        var fhaNumber = $('#FhaNumber').val();
                        var groupTaskInstanceId = $('#GroupTaskInstanceId').val();
                        var projectActionTypeId = $('#ProjectActionTypeId').val();
                        var groupTaskCreatedOn = $('#GroupTaskCreatedOn').val();

                        data.formData = {
                            FhaNumber: fhaNumber,
                            CheckListId: chkListId,
                            GroupTaskInstanceId: groupTaskInstanceId,
                            ProjectActionTypeId: projectActionTypeId,
                            GroupTaskCreatedOn : groupTaskCreatedOn
                        };
                        var jqXHR = data.submit()
                            .success(function (data, textStatus, jqXHR) {
                                if (data.isUploaded) {

                                }
                                else {

                                }
                                alert(data.message);
                            })
                            .error(function (data, textStatus, errorThrown) {
                                if (typeof (data) != 'undefined' || typeof (textStatus) != 'undefined' || typeof (errorThrown) != 'undefined') {
                                    alert(textStatus + errorThrown + data);
                                }
                            });
                    },
                    change: function (e, data) {
                        // alert(data.files.length);
                        var chkListId = $(this).attr("checklistid");

                        $.each(data.files, function (index, file) {
                            $('#txt_' + chkListId).text(file.name);
                            $('#txt_' + chkListId).val(file.name);
                        });
                        var uploadFile = data.files[0];
                        if (!(/\.(gif|doc|DOC|DOCX|xls|xlsx|XLS|XLSX|pdf|PDF|png)$/i).test(uploadFile.name)) {
                            alert('The file is not in the expected format. Please make sure the file you are attaching is in accepted format gif,doc,pdf,xls.');
                            return false;
                        }
                    },
                    fail: function (event, data) {
                        if (data.files[0].error) {
                            alert(data.files[0].error);
                        }
                    }
                });

            },
            DeleteUploadedFile: function (checkListId) {
                var groupTaskInstanceId = $('#GroupTaskInstanceId').val();
                $.ajax({
                    url: '/ProjectActionRequest/DeleteGroupTaskFile',
                    data: {
                        taskInstanceId: groupTaskInstanceId,
                        taskFileType: checkListId
                    },
                    cache: false,
                    type: 'GET',
                    success: function (response) {
                        if (response.success == true)
                            alert('File successfully deleted');
                        else
                            alert('File not found');
                        $('#txt_' + response.CheckListId).val('');
                    },
                    error: function (xhr) {
                        // TODO: alert the user about the error
                    }
                });
            },
            GoProjectActionRequestForm: function () {
                $('form#projectaActionFrm').attr('action',  settings.GoProjectActionFormURL);
                $('form#projectaActionFrm').submit();
            },
            SubmitForm : function() {
                $('form#projectaActionFrm').submit();
            }
        }
    }());

    $(document).ready(function () {
        uploadCheckList.InitView();
    });

</script>
